[2016-05-29 20:25] JohnPaulHarold opened #1 "Effects don't stop when removed"
When removing an effect from a sound, I'd have expected the effect to stop, but instead the effect carries on modifying the source. You can see that the EffectsNode has been removed, it's not that removeEffect is doing nothing, just that it's not cancelling the effect that's been added.

I'd offer up sample code, but following the first example in the Effects section highlights the issue.

Is the

[2016-05-29 20:51] alemangui commented on #1
It's indeed an error. The effect should stop modifying the source. Nice catch!

[2016-05-29 21:08] JohnPaulHarold commented on #1
OK, glad it's been captured then. I was wondering if I was overlooking something and should have been setting the wetMix down to zero before removing the effect.

[2016-05-30 20:38] alemangui commented on #1
Should be fixed now. Thanks for the heads up :)

[2016-06-01 19:44] JohnPaulHarold commented on #1
The current fix kills the sound also, I'm not sure if that's intended or not. After I've removed an effect and hear nothing, I can `pause()` the `Sound` object created and then play it again, and it resumes on from it's last known position.

[2016-06-01 20:15] alemangui commented on #1
You're right. This commit should take care of this.

d516f6ce71f33d4c3ba5467447548aa3714b8e30

[2016-06-01 20:52] JohnPaulHarold opened #2 "Reverb / Convolver effects"
Do you have any plans to add convolver effects to Pizzicato? Reverb and the like.

I ask, partly to find out if you're working on it already. I've also spent the evening hacking it in myself,
https://github.com/JohnPaulHarold/pizzicato/tree/effect_reverb

[2016-06-01 21:22] alemangui commented on #2
Hey man, yep! reverb would be an awesome addition to the library. Even though I'm not currently working on it, it's definitely high on my list of wanted features.

The issue I have with reverb is related to the sound sample that the convolver node uses to shape the convolution. This means we either:

1. Make an ajax request to load a sample file to use for the convolver node.

The problem with thi

[2016-06-02 18:46] JohnPaulHarold commented on #2
Yes, so far I've only approached option 1.
    var reverb = new Pz.Effects.Reverb({impulse: './path/to/your/impulse.wav'}, function () {});
    sound.add(reverb);

[2016-06-02 19:18] JohnPaulHarold commented on #1
Yeah, this is still with issues. I'm using stems, and so my `Sound` buffers are 4+ minutes long. Well, they're longer than simple soundfx samples at any rate. Adding effects seems fine, removing seems OK some of the time, but it will often lose sync and never recover that or worst case just stop making any sound from which it will also not recover.

[2016-06-06 12:25] alemangui commented on #1
Interesting, could you maybe send me a URL or jsfiddle, jsbin or something similar?

[2016-06-06 12:29] alemangui commented on #2
Yep, that's true...

The library at https://github.com/adelespinasse/reverbGen looks pretty good. I found this one as well that could give us a hint: https://github.com/web-audio-components/simple-reverb

[2016-06-06 17:31] JohnPaulHarold commented on #2
Yes, I found that simple-reverb project later on, and it looks like p5.js uses that for their simple [reverb](https://github.com/processing/p5.js-sound/blob/master/src/reverb.js#L157-L180) also.

I haven't made a PR yet, but can do if it will help to start discussing how this should look, API wise, code wise etc. My initial thoughts were that the params would be slots added to the options object,

[2016-06-06 17:34] JohnPaulHarold commented on #1
I'll try and make a simple demo to highlight this. Later this week probably.

[2016-06-08 03:49] alemangui commented on #2
What about having them as separate effects... _i.e.,_ a ```Convolution``` and a ```Reverb``` one.

The ```Pz.Effects.Convolution``` would require the impulse file and thus would be asynchronous. An API could look like:

[code]

Whereas the ```Pz.Effects.Reverb``` would be an algorithmic non-async reverb:

[code]

This way we avoid the potential confusion of using conflicting/separate options in a

[2016-06-08 07:13] JohnPaulHarold commented on #2
OK, I'm down with that. I'll rename what I have and see about making a PR. You think you'd prefer the `callback` to be a slot on the `options` object? Currently it's another param on the constructor. It's only like that because I followed the `Sound` constructor approach, but going with it as an option would perhaps make it more consistent with the other effects.

[2016-06-08 13:48] alemangui commented on #2
You're right. The callback should be outside the ```options``` object, like in the Sound constructor :)

[2016-06-08 21:38] JohnPaulHarold commented on #1
small example. http://webui.lt/pz_fx_test/examples/effects_on_off.html

In this test, you can fairly easily get the streams out of sync, but I couldn't replicate the sound completely dying and never returning. Where I was seeing that, I also had an analyser node wired in on each `Sound`. I could update the test later so each loop has a simple VU meter and see if that's an issue also.

I can also u

[2016-06-10 23:18] JohnPaulHarold commented on #2
hmm, this generated reverb is failing tests, and I don't quite understand why at the moment.

[2016-06-11 00:52] JohnPaulHarold opened #7 "start offsets"
Currently, you can make a `Sound`, and play it. But what if I want to make the `Sound`, and play it 10 seconds later, or at a specific `context.currentTime`?

What's stopping Pz from doing this, if anything?

[2016-06-13 21:25] alemangui commented on #2
Regarding the first pull request (the merged one) I might dive into making a few changes - the main one being making the impulse file readonly and settable only in the constructor.

The reason being that - after initialization - using a simple setter gives the user no way to know when the file has been loaded (async with a lack of callback). I don't think the use-case of dynamically changing the i

[2016-06-13 21:27] alemangui commented on #7
Nothing really, it's just a use case that hasn't come up. I would be OK with implementing this. Perhaps as an optional parameter to the ```play```function.

[2016-06-14 08:37] JohnPaulHarold commented on #2
Writing the impulse loader approach, and also porting over the generated reverb have been interesting. I'm a bit stumped as to why the tests are failing for the `Effects.Convolver()`, if you have the time to look at the PR and perhaps offer some help as to why that would be appreciated.

Considering what you said about the Ping Pong Delay, I was wondering if it would be worthwhile to find some goo

[2016-06-17 21:24] alemangui commented on #2
Thanks, I will take a look at the other PR for the reverb.

While I like the idea of impulse wavs, I would prefer not to include them in the core library for weight reasons. We can either have them in the demo site or create a different repo to somehow extend the reverb. We can of course re-consider this if at some point we feel it could be useful.

[2016-06-18 13:02] alemangui commented on #2
Regarding the convolver effect:
I have removed the possibility of getting or setting an impulse file in the convolver effect. I don't see a reason to access this property after initialization. Also, the console will log an error if we try to create a convolver effect without an impulse file (although no exception will be raised).

Regarding the reverb effect:
I have renamed the parameter ```second

[2016-06-18 13:02] #2 closed

[2016-06-18 15:01] JohnPaulHarold commented on #2
for the max, 10 seconds is probably enough, however, I ran into issues creating a buffer when the min was set at zero, which is why I set it to just above. Did you not see these issues yourself?

[2016-06-18 16:47] alemangui commented on #2
Yep I had them as well. ```time``` can't be zero, so I have a min of 0.0001 for that parameter

[2016-06-19 15:08] JohnPaulHarold commented on #7
OK, have got something almost ready to go with this, but I'm getting failing tests. I pulled down a zip of master and ran gulp tests in that, and that's also reporting the same failing tests.

[code]

@alemangui  Do you see tests failing also? I can raise this as a separate issue if required.

[2016-06-19 15:16] alemangui commented on #7
I have been taking a look at this as well. I have an API prepared that would allow to pass 2 parameters two the ```play``` function:

```sound.play(when, offset);```

So calling ```sound.play(2, 4);``` will play the sound after two seconds starting from 00:04.

Do you have any remarks on this API?

There is one main issue that has prevented me from merging this. Which was described by you in #1: t

[2016-06-19 15:21] alemangui opened #9 "The offset is imprecise in a sound with a file source that loops"
This issue occurs with Pizzicato.Sound objects that have a file as a source and have the ```loop: true``` attribute. After the first looping occurs, the offset becomes imprecise

This can be evidenced by calling ```sound.pause(); sound.play();```. After the first loop the cut will not be seamless and a jump will be heard.

Another way is to add and remove an effect to the sound: ```sound.addEffect

[2016-06-19 15:22] alemangui commented on #1
Indeed. This is a separate bug which is also evidenced in other areas of the library. Thanks for the catch. I have filed #9 to tackle it.

[2016-06-19 15:22] #1 closed

[2016-06-19 15:27] alemangui opened #10 "Test randomly failing: Sound actions should trigger 'end' when ended FAILED"
The test on 'end' event tigger fail without a clear reproduction path. Travis CI [build 99](https://travis-ci.org/alemangui/pizzicato/builds/138569619) failed and [build 100](https://travis-ci.org/alemangui/pizzicato) passed with exactly the same source code.

@JohnPaulHarold have you reproduced this locally? It might be related to the loading of the sound file used for the test. This test is the

[2016-06-19 16:19] JohnPaulHarold commented on #7
I've pushed my local branch if you wish to compare against it, but the only real change is that I added the duration param for completeness.

So, the idea on the first param is that it will always add the context.currentTime to the user desired when? I think I like that, good choice :-) With mine, I'd just assumed the user would be taking care of that, but I think your's is a nice touch. Right now

[2016-06-19 17:12] alemangui commented on #10
I'm still stumped by this one... the change in timeout didn't have any effect. @JohnPaulHarold can you tell me your node version please?

[2016-06-19 17:13] alemangui commented on #7
Cheers 👍  I will take a look at your local branch as well. I will close this issue but feel free to open a new one if you have any remarks.

[2016-06-19 17:13] #7 closed

[2016-06-19 17:15] JohnPaulHarold commented on #10
[code]

My OSX machine is off being repaired, but I can test on that when it's back.

[2016-06-20 09:42] JohnPaulHarold commented on #10
btw, I've tried bumping up the timeout on the tests but I got no joy with that.

[2016-06-20 22:04] alemangui commented on #10
Yep, I'm stumped by this one. Travis CI had another episode of failure then success with the exact same code. I'll keep digging.

[2016-06-23 00:16] JohnPaulHarold opened #11 "initializeWithBuffer"
for a project, I found myself needing a way to load in a set of sounds, but then to duplicate those sounds. It's for a simple loops based sequencer of sorts. What I ended up doing was loading in the sound files once, and then duplicating them as needed by copying the buffers from `getRawSourceNode()`, bypassing the need to create a whole new `Sound` object again. This might have been particular to

[2016-06-26 21:10] alemangui commented on #11
Sorry for the delay, hectic week!

Your use case sounds interesting indeed. If I understood correctly the idea is to have several Sound objects stemming from the same audio file without the need for re-downloading the file right?

What if we could have a more generic initialization from another Pz.Sound object? Something like:

[code]

or a way of creating copies of sounds by a copy function

[cod

[2016-07-03 13:35] JohnPaulHarold commented on #11
Likewise, apologies for my lateness of reply. Yes, that's pretty much it and you've understood what I meant despite me wording it poorly :-) I'll have a look and see if I can implement both of those, but I'm not sure when that will happen.

[2016-07-15 22:14] alemangui commented on #11
I've added a ```clone``` method in Pizzicato.Sound objects. It can be found con commit https://github.com/alemangui/pizzicato/commit/a0d516cce7f65b07b48f7606c7fbb693026624be

Feel free to take it for a spin before I push a new version. Any remarks are welcome in this thread.

[2016-07-19 06:25] JohnPaulHarold commented on #11
My apologies for only just replying, I've been a bit ill this weekend. I'll try and give this a spin later this week. Nice work.

[2016-07-24 09:22] JohnPaulHarold commented on #11
@alemangui this clone method does pretty much what I hacked together and is cleaner to boot. Many thanks. My use case was I didn't want to be reloading files I'd loaded and stored previously, and this does that. Many thanks for this change.

[2016-07-24 15:54] alemangui commented on #11
Cool, happy it worked :) And thanks for the new PRs, I will take a look at them soon.

Cheers!

[2016-07-24 15:54] #11 closed

[2016-07-31 15:14] alemangui opened #14 "Ugly noises when changing the time parameter of delay effects"
When changing the time parameter of delay effects we get an unusual noise. The change in parameters should be smooth enough to avoid unwanted side effects.

[2016-07-31 18:27] JohnPaulHarold commented on #14
@alemangui is this specifically when futzing around with the time param in the Dub Delay effect you noticed this? I think the original developer of this effect (or at least, where I ported it from) mentions this at the end of the blog post, http://blog.chrislowis.co.uk/2014/07/23/dub-delay-web-audio-api.html He calls it 'dezippering.' I... quite like it, but I can see why it might be seen as unwan

[2016-07-31 18:31] alemangui commented on #14
I noticed it in the regular vanilla delay first. I'm still unsure as to whether or not it needs to be removed, but I will probably make a branch with a smooth ramp-to-value of the audio params to see if there's a difference.

[2016-08-01 20:58] alemangui commented on #14
I've been taking a look at this and still struggling to remove the clicks.

Dezippering is basically a technique by which the parameters are changed smoothly to avoid clicks or unwanted sounds. It used to be baked into the web audio API until about a year ago - when the working group decided to remove it. The discussion is long (https://github.com/WebAudio/web-audio-api/issues/76).

Some of the ar

[2016-08-02 09:02] JohnPaulHarold commented on #14
Hmm, yes, reading that post and also looking Chris Lowis' example early on in the chain, I think I had a different idea of what was meant by dezippering :-( Clicks are bad, but the quirky sonar type 'pings' are cool (I thought), but that's a different thing.

From reading that ticket, it seems the advised approach it to tween your way from start to the target value. I assume you've tried this alre

[2016-08-10 10:52] sksar opened #15 "Pitch effect"
How can i get a pitch effect? I am working on create a simple music production app like that of Figure by Propellerhead.  But i need a pitch effect without changing the speed or bpm. how can i get it?

[2016-08-10 16:41] JohnPaulHarold opened #16 "Reroute Sound destinations"
I have a need to create `Sound` objects, but send them to a `splitter`, and then connect the `splitter` to the `context.destination`, but I'm not seeing how this can be done currently.

My use case is that I'd like to split the signal of many/some/one `Sound` object(s), add an `analyser` to each channel of the `splitter`, and then connect the `splitter` to destination. I don't have a need for anal

[2016-08-10 21:40] alemangui commented on #16
Have you tried using the ```masterVolume``` node?

This is an undocumented node at the end of the audio graph representing a Pizzicato Sound object.

Image you have a Pz.Sound object with effects called ```sound``` and a splitter node called ```splitter```, you could maybe connect the output of the sounds to the splitter doing something like:

[code]

Then you can connect the different channels of

[2016-08-10 21:43] alemangui commented on #15
This sounds interesting. Pizzicato does not currently have a pitch shift effect, but it would definitely be a very welcome addition. I can take a look in the upcoming days.

[2016-08-11 08:14] JohnPaulHarold commented on #16
That works, thank you.

On your wider point, I was wondering if a Sound object would benefit for a property on the passed options object which defines an override output node. So, by default it routes to context.destination, or the node (splitter, something else), you've defined in the options. This is back of a napkin stuff, and I've done nil tinkering to see if this is workable, but it was rattl

[2016-08-11 08:16] JohnPaulHarold commented on #15
There's pitch shifting examples out there, so there's plenty of reference material out there. I've been rummaging in similar territory to try and replicate an 'octavia' effect. If @alemangui is digging in I'll perhaps let him work on it.

[2016-08-12 13:56] sksar opened #17 "Volume and other data for output graphs?"
How do i get a volume and other such information out of individual sound sources? Please list all of the available data..

[2016-08-12 14:07] JohnPaulHarold commented on #17
[code]

the above should give you the current volume of the created `Sound` object. What other info do you need access to?

[2016-08-12 14:21] sksar commented on #17
What are the list of info available? I want all to know all that is available..

[2016-08-12 20:38] alemangui commented on #17
There are indeed a few undocumented parameters for the Sound object:

- ```volume```, as @JohnPaulHarold pointed out, will give you the volume at which the sound is playing
- ```attack``` will give you the attack time (also called fade-in)
- ```sustain```will give you the sustain time (also called fade-out). This one is useful to avoid clicks.
- ```loop``` will tell you if the sound is meant to ke

[2016-08-12 20:45] JohnPaulHarold commented on #17
@alemangui do you think it's worth adding a JSDoc process to the gulp file and slowly adding appropriate comments to the codebase?

[2016-08-12 20:58] alemangui commented on #17
@JohnPaulHarold I have mixed feelings about comments in the codebase. I will try to take a decision before a 1.0 version though :)

On one hand, there's obvious advantages to using comment-doc generation (à la Docco, JSDoc, etc). On the other, I doubt it's useful to expose the comments of all parts of the code - i.e., there are some functions and properties that probably should remain being "inter

[2016-08-13 08:22] alemangui commented on #17
I'd rather keep this open until they are in the readme file

[2016-08-13 08:25] sksar commented on #15
When can i expect to get the pitch effect done?

[2016-08-13 08:39] alemangui commented on #15
I can't give you a precise date. I can take up to two weeks. If you need something sooner feel free to submit a PR.

[2016-08-13 08:43] JohnPaulHarold opened #18 "iOS support"
I tried the demo site on an iPhone (recent one, not sure the exact model), and the demos didn't work. While I've not gone through and done exhaustive tests to work out why, I'm fairly confident it's to do with Pizzicato initialising itself and therefore an AudioContext as soon as the script is processed.

For iOS, the context needs to be initialised inside a user invoked method, such as a touchend

[2016-08-13 08:59] alemangui commented on #18
Interesting, I'll take a look. thanks!

[2016-08-13 09:56] #17 closed

[2016-08-13 09:57] sksar commented on #18
I tried it too, but on iOS 8 it works just fine...

[2016-08-13 09:59] alemangui commented on #16
That's an interesting approach.

I currently have a pretty weak way of connecting an analyserNode (via the ```getAnalyser``` function). Needless to say, it's not useful when you need to fine-tune the audio graph.

I agree in that a constructor option to specify an array of nodes to connect to  (with a default of ```[Pz.context.destination]```) would be considerably more useful.

I will re-open thi

[2016-08-15 01:51] rhsu0268 opened #19 "Node/Angular Support"
How do I import this great module via a node/angular setup?

[2016-08-15 08:46] alemangui commented on #18
I did some tests with iOS 9.3.4 and it seems to work well. Have you checked you're not in silent/vibration mode?

While at it, I modified the media queries so the site becomes usable with small screens. It should be less painful now.

[2016-08-15 08:49] alemangui commented on #14
I was wrong. The current noises are an effect of dezippering indeed. While it was removed from the Web Audio spec, it hasn't been removed from the browsers (at least not Chrome and Firefox). You can see more info here: http://stackoverflow.com/questions/38814005/in-web-audio-whats-the-difference-between-using-valuex-and-setvalueattimex

In any case, I don't think it's worth doing modifications jus

[2016-08-15 08:49] #14 closed

[2016-08-15 08:53] JohnPaulHarold commented on #18
@alemangui I tested it some more over the weekend as well. It's weirder than I thought. Some effects I couldn't get to work at all, such as flanger, and others did, such as RingMod. This latest testing was on an iPad2, running whatever the latest, or semi latest 9.x.x release is. I'll do some more testing and see if there's something afoot.

As for the site, I was about to raise a ticket on that a

[2016-08-15 08:54] JohnPaulHarold commented on #19
@rhsu0268 glad you raised this, I was about to ask about AMD/Module support as well +1

[2016-08-15 09:53] alemangui commented on #19
Yep, this is definitely needed. I'll take a look.

[2016-08-15 13:51] alemangui commented on #19
Commit dcbde030baa4770b7fb355204ed3166920bf61a0 adds support for both AMD and CommonJS modules. Please take it for a spin and let me know if it has any issues on your side.

[2016-08-15 19:05] EdenSG opened #20 "Wording for "Attack/Sustain" is incorrect"
The correct terms are *attack* and *release*, not *sustain*. Check [wikipedia](https://en.wikipedia.org/wiki/Synthesizer#Attack_Decay_Sustain_Release_.28ADSR.29_envelope) for a more complete explanation.

[2016-08-17 13:00] alemangui commented on #20
You are indeed correct. The naming was inspired by the piano _sustain_ pedal, but I agree in that the correct audio term is _release_ and sustain may cause more confusion than good.

I need to think about when to roll this change given that the rename would be breaking. Perhaps deprecating _sustain_ first for a few versions would be acceptable. I'll keep this open in the meantime.

[2016-08-19 21:22] #9 closed

[2016-08-20 06:22] JohnPaulHarold commented on #9
nice work

[2016-08-22 15:50] rkuhl commented on #15
@sksar you can modify the pitch by changing the playbackRate value of the sourceNode;
A simple example:
[code]
hope this helps.

[2016-08-22 17:03] alemangui commented on #15
Thanks for the tip @rkuhl

I believe modifying the playbackRate will slow down the audio as well, which may be an unwanted consequence (depending on the use case).

In order to maintain the pitch and the speed, there are several solutions (granular synthesis, phase-shift, etc). I have tried a couple of algorithms involving granular synthesis but I'm not satisfied with the result - the quality decr

[2016-08-23 01:15] sksar commented on #15
That kind of a shift in speed is not generally perceieved good for audio production... in that case the loop i will be playing at C5 for 1sec will become 0.01 at C7 ...... so its a bit of issue... if you notice @rkuhl that in the previouse comments i already said without changing the speed...

[2016-08-24 07:34] alemangui commented on #19
Support for AMD and CommonJS should be up and running since version 0.3.1. I will close this issue, but feel free to reopen it if you have issues. Cheers.

[2016-08-24 07:34] #19 closed

[2016-09-14 18:09] shinedark commented on #1
hey im still having trouble removing  effects they stay loaded to the audio file. i got the latest version still doesn't work. here is a link to the code https://github.com/shinedark/samplerdj

[2016-09-14 21:28] alemangui commented on #1
Hey @shinedark,

Took a look at your repo, looks pretty cool :)

I think the issue in your case might be the usage of jQuery's ```.keydown``` method, which is fired multiple times when the key is down, not just once. I believe this is what happens:

1. the user holds down one of the effect keys (let's say ```x``` for the delay),
2. jQuery's ```.keydown``` fires multiple times (let's say 10 times f

[2016-09-15 17:16] shinedark commented on #1
thank you that fixed my problem

[2016-09-27 09:05] JohnPaulHarold commented on #15
this was 'not bad', however all pitch shifting comes with drawbacks, real time especially so (https://developers.google.com/web/updates/2012/01/Web-Audio-FAQ?hl=en#q-can-i-change-pitch-without-changing-speed). This example isn't bad however https://github.com/ChenMachluf/pitch-shift-node, it  would require picking apart and porting to Pz however.

[2016-09-27 15:34] JohnPaulHarold commented on #16
this topic was rattling around with me again recently. I was wondering if the concept of grouping `Sound` objects was useful. A use case would be several drum kit samples, and you want to apply an effect to the grouping, or control gain/mute all sounds in the grouping.

[2016-09-27 19:19] alemangui opened #23 "Allow connections between Pizzicato objects and AudioNodes"
```Sound``` and ```Effect``` objects should be able to interact with AudioNodes.

[2016-09-27 20:17] alemangui commented on #23
Possible API:

**Sound objects**

- A Pz.Sound may have AudioNodes appended to it. Ideally, this would be achieved by a ```connect``` function:

[code]

- Removing appended nodes should also be possible with a ```disconnect``` function.
[code]

- By default, a ```Sound``` object is connected to the context's destination. This should probably be overridable in the initialization to get an orphan So

[2016-09-27 20:22] alemangui commented on #16
I am currently working on a commit - hopefully over soon - to allow connections between Pizzicato objects and web audio nodes, I think it's quite essential for a web audio library. This would allow to create groups of sounds using splitter and merger nodes - albeit in a rather creative way. I have created PR #23 to track this.

As a separate topic, the idea of grouping sounds had also crossed my m

[2016-09-28 06:44] JohnPaulHarold commented on #16
just been reading https://github.com/alemangui/pizzicato/issues/23, very cool

[2016-09-28 07:01] JohnPaulHarold commented on #20
You could change `sustain` to an alias of `release` and act as usual but with an added  deprecation `warn()` as you suggest, and of course add the correct `release` option and change the docs to reflect the newer wording, perhaps with an additional note about the change. As it's a breaking change, I guess a bump from v0.3.x to v0.4.x would be required.

@alemangui do you have any idea how many pro

[2016-09-30 22:01] alemangui commented on #23
Will be included in the next release.

[2016-09-30 22:01] #23 closed

[2016-09-30 22:33] alemangui commented on #20
Sustain is now deprecated - but still usable to avoid breaking changes. Retain is now the officially documented way to do things.

This fix will be included in next release. Thanks guys.

[2016-09-30 22:33] #20 closed

[2016-10-24 12:55] edgehero opened #24 "Change path source file"
how do i change the source path ( from external file )?

[code]

Sadly this does not work.

[2016-10-24 20:43] alemangui commented on #24
Hey,

Once the Pz.Sound object is initialized you can't change its source. If you want to have a Sound from an external file you have two options:

The shortcut:
[code]

The long version:
[code]

You can also add a callback to know when the file has been loaded and decoded:
[code]

[2016-10-25 07:57] #24 closed

[2016-10-28 14:08] edgehero opened #25 "Any way of setting play Rate?"
First i got to say that pizzicato is awesome till now, awesome work on it :)

But is there also a way to set the play rate? (play speed)
Something like this example:
http://webaudiodemos.appspot.com/wubwubwub/index.html

you can set rate 1 for normale speed, 0 for pause  and -1 for going backwards.
Is that something that can also be accomplished with pizzicato?

[2016-10-28 21:20] alemangui commented on #25
Hey, thanks a lot :) It's unfortunately not possible now, but this is something I'm very interested in. Pitch and speed manipulation is in the list of features to come. Thanks for sharing the link.

[2016-10-28 21:21] #16 closed

[2016-10-29 08:06] edgehero commented on #25
ok currectly not a work around for that either? :-/

[2016-10-31 09:41] alemangui commented on #25
Unfortunately not. The only easy thing to do so far is change the playbackRate manually. This will also change the pitch though, which is unwanted :(

[2016-10-31 10:38] edgehero commented on #25
Yea, i found this way. but it will give that pitch chipmunchs effect ;).
source.sourceNode.playbackRate.value = 2;

[2016-11-10 10:20] edgehero opened #26 "Current Play Time and if currently playing"
is there any way to calculate if the object is currently playing and what play time it got?

[2016-11-10 14:33] edgehero commented on #26
Did some more research. to check if its playing, use source.playing (true or false)
currentTime was not possible, but i made a function for it and added a pull request https://github.com/alemangui/pizzicato/pull/27

[2016-11-14 16:04] #26 closed

[2016-11-14 16:08] edgehero opened #28 "Is it possible to change an effect without removing it?"
Im currently using effects something like this:
[code]

But is it also possible to change an effect? like effect(value: 1);
because removing and adding it again, creates alot of laggs and delays

[2016-11-15 12:55] edgehero commented on #28
foudn the solution source.effect[0].value =

[2016-11-15 12:55] #28 closed

[2016-11-15 22:40] alemangui commented on #28
I'm a bit late, but yes, you can find all added effects under the ```effects``` array.

Alternatively, you can store the effects in a variable to access them later. For example:

[code]

[2016-11-20 04:03] wildfiremedia opened #30 "SFZ wave files in Pizzicato"
What is the recommendation to load 88 wave files that use with SFZ format, contains wave files of 1MB+ each and good enough to run on Pizzicato?

What is the maximum channels we can play from wave file?

[2016-11-20 07:52] wildfiremedia opened #31 "Repetition on the same wave files"
If the piano will need to play fast on the same notes, if I use sound.stop() when keys is release, the sound is cut off absurdly which is not right for sustain playing. How do I repeat the same wave that can overlap a bit of each tone?

While playing, how can I set the play timing back to certain time to continue from there?

[2016-11-20 11:09] wildfiremedia commented on #31
I think the release is the solution but it's not efficient when the keys repetition happen to fast, it would still cut off the release phase.
[code]

The ideal should be release phase have it own dedicated audio context that could continue playing and is not affected by keys release.

[2016-11-20 22:29] alemangui commented on #30
I'm not aware of a full fledged tool/library to use sfz format with web audio, nonetheless, if you just want to load the wave files and play them, you can try creating individual ```Pz.Sound``` objects.

[code]

It wouldn't surprise me to see some performance issues with 88 objects that have a 1MB+ size each, but given that this is uncharted territories, I am pretty interested in the outcome - aft

[2016-11-20 22:32] alemangui commented on #31
I think this is a problem with the current release implementation. I agree with you - if a ```Pz.Sound``` is going back and forth ```play```and ```stop``` quickly, the release should not be cutoff.

I don't think we need a new property ```selfrelease```, I think the existing ```release``` property should behave as you need it to behave.

[2016-11-21 10:13] wildfiremedia commented on #31
Great, I have been working on it for years and may have a few ideas to work with DIY MIDI keyboards. If we can include the option for transition parameter for other sounds say if the cars is accelerate with motor noise, the cutoff-transition will play cars' emergency braking sound.
[code]

[2016-11-21 11:39] wildfiremedia opened #32 "Option to start play by millisecond"
Adding option to play sound in milliseconds precision?
[code]

[2016-11-23 13:27] wildfiremedia commented on #31
Is this issue being work on?

[2016-11-23 15:37] alemangui commented on #31
Not at the moment, I don't think I will be able to jump into this for the next couple weeks.

There are two different subjects in this issue:

1. A bug in the release property (which should be dealt with soon), and
2. A feature request to include transitions. I'm not sure when/whether this would be added. It's worth discussing about it and the potential use cases.

Let's use this issue to focus on

[2016-11-24 07:05] wildfiremedia commented on #31
Sure, at the moment I will need to work on it with my temporary solution.

Would it be feasible to create spare variables pianoc4-1, pianoc4-2, pianoc4-3, pianoc4-4, pianoc4-5 that:

if the pianoc4-1 is still release or have not reach the end, pianoc4-2 would start playing in fast repetition
if the pianoc4-1 and pianoc4-2 are still release or have not reach the end, pianoc4-3 would start playing i

[2016-11-24 07:14] alemangui commented on #32
Why not use
[code]
?

[2016-11-24 07:16] wildfiremedia commented on #32
I didn't know that, thanks!

[2016-11-24 07:16] #32 closed

[2016-11-24 07:18] alemangui commented on #31
It seems sub-optimal from a perf point of view, but I would have to take a look once I'm back home (abroad at the moment).

[2016-11-26 16:56] dkdl opened #33 "use buffer object as source"
Hi there,

thanks for the great plugin! The best for playing with effects :) I discovered it recently and now I try to implement it at a website. But at first load I preload multiple tracks with the preloader script from HTML5Rocks. https://www.html5rocks.com/en/tutorials/webaudio/intro/js/buffer-loader.js

And now I'm not sure how to use these buffer objects instead of an url at init. I tried to

[2016-11-26 21:56] JohnPaulHarold commented on #33
you shouldn't need use that buffer-loader script, just load the sounds you want via Pizzicato. I'm assuming you're loading wavs or mp3s or something. See https://github.com/alemangui/pizzicato#sounds-from-a-file

[2016-11-27 16:21] mdings opened #34 "Same effect to multiple sounds"
As far as I can read from the docs, an effect can be attached to a single sound. Is it also possible to attach an effect to multiple sounds at the same time?

The compressor for example should compress multiple sound inputs. Or how does that work exactly?

[2016-11-28 09:49] alemangui commented on #34
Sure, you can definitely use the same effect with multiple sound objects. Something like this:

[code]

After this, both sounds have the same effect. Modifying any parameters to the effect will be heard in both sounds.

[2016-11-28 09:50] #34 closed

[2016-11-28 09:55] alemangui commented on #33
Hey @dkdl, thanks for the comments :)  @JohnPaulHarold is right, you can just load the file directly with Pizzicato. Is there any reason why you would prefer to use the buffer?

[2016-11-28 12:04] mdings commented on #34
Ok, that makes sense. Is there no way to attach an effect to an output node from the audioContext though?
That would remove the need to add the effects to every separate channel.

[2016-11-28 12:23] alemangui commented on #34
Yes, you can attach Pizzicato Effects to any AudioNode (https://github.com/alemangui/pizzicato#connecting-nodes-to-effects).
[code]

[2016-11-28 13:47] dkdl commented on #33
Hello, thank you the replies. I want it to preload, because I play/start 8 files at the same time. Now I'm getting the this.getRawSourceNode error when I want to play the file (too early).

Before pizzicato I used the bufferloader with promises and then init the sounds.

But now I have to init, use the callback function, check which files has loaded, and then start the sounds. Is there a way to co

[2016-11-28 15:05] JohnPaulHarold commented on #33
I've had to do similar in the past. When I did, it was something like [this]. (https://gist.github.com/JohnPaulHarold/9b3deea677e9e28547b496167ec191e9).

It could probably be done with Promises also. Looking at your code above, I'm not sure if you're using some bespoke Promises polyfill, but with regular Promises, something like [this ](https://gist.github.com/JohnPaulHarold/f2c8a101b5071b9ee5896a

[2016-11-28 21:23] mdings commented on #34
So I have three Pizzicato sound file instances initiated by `new Pizzicato.Sound()`. When they are playing I want to add a flanger to the master output gain. I am doing something like below but I don't hear the effect at all. Is this the correct way of adding effects to the master gain?

`
const flanger = new Pizzicato.Effects.Flanger({
    time: 0.45,
    speed: 0.2,
    depth: 0.1,
    feedback:

[2016-11-28 22:15] JohnPaulHarold commented on #34
@mdings this sounds like you're treading similar ground as I was previously. See https://github.com/alemangui/pizzicato/issues/16 However, note that since that ticket, the Pz routing system got an update, so also see https://github.com/alemangui/pizzicato/issues/23. Disclaimer, I've not had the time to look into the routing changes as real life kicked in :-( but I think this should be in the right

[2016-11-29 20:34] alemangui commented on #34
@mdings I would need to dive into the code, but here's a guess:

You are using ```Pizzicato.masterGainNode``` and connecting effects to it. This may not work because the masterGainNode is connected to the context.destination, and the flanger you are connecting to it (and to the output node subsequently) doesn't seem to be routed to the context's destination.

Let's say you have three different Sou

[2016-12-06 22:36] midipixel opened #35 "Setting an effect's object parameters after it is created"
Hi @alemangui . Thanks for creating Pizzicato. It is a nice and friendly API that makes working with web audio painless! :)

I'm using it to make a sampler where I want the users to be able to change the effects parameters to craft their sound. So far, I've been able to do this with the sound object's "options" (for example, setting a new attack value works), but not by assigning new values to an

[2016-12-06 22:54] JohnPaulHarold commented on #35
hi @midipixel, I've just tried doing the same as you, same effect, and loading a sound file, and stuff works; I heard a really fast tremolo speed. This doesn't discount that you have an issue, but can you also let us know what OS, browser you are on? Or indeed, anything else that might be of interest. I tested your exact steps on Windows10, Chrome latest. FYI, I loaded a sound file:

[2016-12-07 08:22] JohnPaulHarold commented on #35
Glad that's resolved. You OK to close the issue also? Interesting you mention a sampler, one of my WebAudio todos has been to make a simple wave editor; trimming, cropping essentially, with an equally simple GUI on top.

[2016-12-07 16:04] midipixel commented on #35
Of course, I'll close it now!

Yes, having trimming and cropping would be really useful. In my case, the app would be really well served with a simple audio editor with UI/features somewhat similar to [this one](http://www.chocopoolp.com/bhajis/imgs/fx_menu.gif)

If I manage to implement it, I'll get in touch. ;)

[2016-12-07 16:04] #35 closed

[2017-01-01 14:31] SirCameron opened #36 "Retrieve sound data for upload"
Once a sound is recorded, and maybe some effects have been added, Is it possible to retrieve the sound data to be uploaded to server?

[2017-01-02 09:32] proyb6 commented on #36
You can add sound effects to the stop button and upload file is using XHR method of any audio file saved on your temporary to the server's storage.

[2017-01-02 09:40] SirCameron commented on #36
Thanks, my question is, though: what function can I use to get the sound data as a string or buffer to be uploaded using XHR? I don't want to save the file locally first.

[2017-01-02 11:39] proyb6 commented on #36
This is harder to implement either upload by binary or base64, will be best answer by others.

[2017-01-02 16:56] SirCameron commented on #36
Uploading is not the problem.

How can I save a sound file using Pizzicato? There isn't anything in the documentation.

[2017-01-02 21:22] alemangui commented on #36
Hey,

There is no built-in functionality in Pizzicato to save a blob of audio that can be later sent to the server or written in a file.

Nonetheless, you can take a look at MDN's documentation for the [MediaStreamAudioDestinationNode](https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamAudioDestinationNode). The article includes a way of recording a blob representing the audio data.

Pizz

[2017-01-02 21:24] SirCameron commented on #36
Awesome @alemangui ! thanks!

[2017-01-02 21:26] #36 closed

[2017-01-08 11:45] proyb6 commented on #31
Any ETA for this bug fix?

[2017-01-08 16:37] alemangui commented on #31
### Bug fix

Here's my take on this issue:

The abrupt cut-off @wildfiremedia talked about was likely happening because the attack and release went to-and-from near zero values regardless of the fadeNode's previous state, messing up all kind of things. Kind of like this (ugly) drawing I made:

![before](https://cloud.githubusercontent.com/assets/1225929/21750031/297b8540-d5aa-11e6-948e-d7e1bd37b87

[2017-01-08 17:06] #31 closed

[2017-01-10 04:49] proyb6 opened #37 "Preamp or loudness"
Some audio source or wave may sound tinny, are there any way to increase loudness or preamp that found in music players? Would be great for improve music quality

[2017-01-10 21:15] alemangui commented on #37
Pizzicato is limited in the volume output of the Sound objects, but there is a workaround:

1. Create a detached Sound object ([details here](https://github.com/alemangui/pizzicato#creating-a-detached-pizzicatosound-object))

This sound object will not be automatically connected to the destination, which means you can connect it manually.

2. Connect the sound to a gainNode, and then the gain node

[2017-01-11 13:42] proyb6 opened #38 "Render convolution effect on one master source?"
If we have hundreds of audio files, attach convolution to each audio will consume huge memory usage. Not sure if there are ways to stream multiple sounds to master source and render realtime with convolution?

[2017-01-11 14:40] proyb6 commented on #37
Do you mean createAnalyser instead of createAnaliser?

Not sure if the code is correct, I still hear the volume at the same level as 100% normal volume.
[code]

[2017-01-11 17:49] alemangui commented on #37
No need for the analyser (but thanks for pointing out the typo :) )

[code]

[2017-01-11 19:50] proyb6 commented on #37
There is one issue if adding convolver to ```var a```, will cause all gain to be increase to 2. Without convolver, I can hear the difference gain between each keys.

[code]

[2017-01-12 13:34] proyb6 commented on #37
Is this the expectation behaviour or a bug?

[2017-01-12 17:26] alemangui commented on #37
It's not expected behavior, sounds like a bug. I will take a look.

[2017-01-14 15:16] alemangui opened #39 "Possibility to chain addEffect and removeEffect calls"
The possibility to chain ```addEffect``` calls should be added into Pizzicato.

E.g.,
```sound.addEffect(delay).addEffect(flanger).addEffect(distortion)```

[2017-01-14 16:19] alemangui commented on #37
Definitely a bug. When adding a single effect to multiple sounds, the output of the effect remains connected only to the last sound added.

[2017-01-14 16:20] alemangui opened #40 "Audio graph problem when adding the same effect to multiple sounds"
Having the same effects used in multiple sound objects may result in unexpected sounds.

Related to #37 (reported by @proyb6)

[2017-01-14 16:21] alemangui commented on #37
I have created issue #40 for following this problem - given that this one talks mainly about preamp.

[2017-01-14 16:21] #37 closed

[2017-01-14 17:01] alemangui commented on #37
@proyb6  There might be a workaround by creating your own audio graph.

To do so, instead of adding effects using ```addEffect``` you can try to:

1- Create only detached ```Pz.Sound``` objects (all of them).
2- Create the preamp gain and connect it to the desired sound as before. At this moment you should have something like:
[code]
3- Create a gain to unite all sounds and connect it to your desi

[2017-01-15 11:14] proyb6 opened #41 "Sound sources from the center"
I wonder how did most recording could sound coming from the center to the left and right without harsh sounding? Limiter effect does the job and what other possible effects?
https://www.youtube.com/watch?v=A8LoaOjgn9E
https://www.youtube.com/watch?v=tuvWpVCUbr0

[2017-01-15 14:11] alemangui commented on #41
I don't think I understand the question. Could you rephrase it? "center to the left and the right"... are you talking about stereo panning?

[2017-01-15 14:14] alemangui commented on #38
I don't know if I'm understanding this correctly, but I think you mean you don't want to create n convolution effects for n Sound objects, am I right?

Anyway, If you start experiencing performance problems you might want to try connecting Pizzicato objects with AudioNodes manually - similar to the last comment I posted in issue #37. This will allow you to merge all your Pizzicato.Sound objects to

[2017-01-15 14:28] #30 closed

[2017-01-15 14:30] #33 closed

[2017-01-15 14:31] alemangui commented on #25
I'll close this one in favor of #15 (pitch effect feature)

[2017-01-15 14:31] #25 closed

[2017-01-15 15:50] proyb6 commented on #38
To clarify, if I have hundreds of sound files, it will incur lot of memory

More memory:
Sound1 + add Convolution effect = 20MB
Sound2 + add Convolution effect = 20MB
Sound3 + add Convolution effect = 20MB
...
Sound100 + add Convolution effect = 20MB

Less memory:
Sound1 -|
Sound2 -|--- Feed into one channel and apply with convolution effect
Sound3 -|
...
Sound100

[2017-01-15 15:54] proyb6 commented on #41
Sorry, I mean to create a depth effect on a wave file you will hear the sound will come from the front center. It's similar to Audience mode (hear instruments from the stage) rather than Player mode.

[2017-01-15 16:00] alemangui commented on #38
To achieve that check my last comment in #37, you can create all Sounds as detached and then use `.connect()` to merge them to a gainNode. Then you can connect the gainNode to the convolver also using `.connect()`.

[2017-01-15 16:00] #38 closed

[2017-01-15 16:03] alemangui opened #42 "Adding/removing effects to sound objects disconnects other sounds with same effects"
If the same effect is used for multiple sounds, using `addEffect()` or `removeEffect()` will disconnect the effect from other sounds where it might be used.

This fiddle describes one of the side effects: https://jsfiddle.net/9yjm84tm/2/

[2017-01-15 16:04] alemangui commented on #40
## The problem

The issues stem from having multiple sounds using the same effect objects, especially when each sound has different effects in different positions.

For instance, a situation like this:

<img width="764" alt="screen shot 2017-01-15 at 4 05 56 pm" src="https://cloud.githubusercontent.com/assets/1225929/21963549/37004456-db3d-11e6-9f49-2e37993e3596.png">

Playing sound1 would engage

[2017-01-17 15:04] proyb6 opened #43 "Max buffer audio"
What is the max limit of sounds can be play at the same time? Can play up to 128 or unlimited voices/polyphonic just like the keyboards?

[2017-01-18 21:41] #42 closed

[2017-01-18 21:44] alemangui commented on #41
Audio spatialization is not included in Pizzicato, but you can definitely extend Pizzicato objects with other web audio nodes.

That said, the AudioListener may be what you are looking for: https://developer.mozilla.org/en-US/docs/Web/API/AudioListener.

[2017-01-18 21:44] #41 closed

[2017-01-18 21:47] alemangui commented on #43
I have not tried to have so many sounds at once, but I'm guessing it largely depends on the computer you are using. The number of sounds and the processing you are doing will determine the performance footprint - which may or may not be an issue depending on your machine.

[2017-01-18 21:47] #43 closed

[2017-01-18 21:54] #39 closed

[2017-01-19 00:13] proyb6 opened #44 "Effects blast bug"
I guess this created a loopback that causes horn feedback?

[![IMG_0603.jpg](https://s29.postimg.org/l6v5lastj/IMG_0603.jpg)](https://postimg.org/image/8s8dkz1b7/)

[2017-01-19 08:34] alemangui commented on #44
Can you prepare a working demo of this? JSFiddle or CodePen would work

[2017-01-19 09:28] proyb6 commented on #44
Try testing on Chrome with wave file on var a and a2. I don't have Internet
at home due to down time. I would only post latest tomorrow or weekend.

On Thursday, 19 January 2017, Alejandro Mantecon Guillen <
notifications@github.com> wrote:

[2017-01-19 12:52] proyb6 commented on #44
Copy and paste the code with the 3 files of your version and pls lower the
volume to the minimum otherwise it will blast your ears

<script src="./Pizzicato.min.js"></script>
<script>
var quadrafuzz = new Pizzicato.Effects.Quadrafuzz({
lowGain: 1,
midLowGain: .2,
midHighGain: .2,
highGain: .2
});

var level = .5

function det(a) {
    return new Pizzicato.Sound("./"+a+".wav", function() {options:

[2017-01-19 23:11] lukasIO commented on #18
hey, are there any news on ios support? on ios 10 i cannot play any of the demos :\

[2017-01-21 07:27] alemangui commented on #18
I tried again but on my side it works well. There are two things that may get in the way though...

1- Slow loading time in Pizzicato's site. The audio files are pretty big, and loading them from mobile can be painful. This may give the impression of Pizzicato not working, when it's the files that are still loading.

2- Sounds from 'input' use the ```getUserMedia``` function - which is not support

[2017-01-21 07:27] #18 closed

[2017-01-21 08:04] JohnPaulHarold commented on #18
I'll just reiterate, I raised this ticket as all my previous dealings with WebAudio and iOS required that the context be created within a user invoked event. So for me, I wired in a click event and then created the context inside the event callback. However, after I raised this, others said they didn't see this, and that the demo worked fine on iOS. I'm not 100% sure why or how Pz is immune to thi

[2017-01-22 03:16] proyb6 commented on #44
Manage to reproduce the bug?

On Thursday, 19 January 2017, Proyb P <proyb6@gmail.com> wrote:

[2017-01-22 15:01] alemangui commented on #44
I'm out of town for the moment, but it would be much easier to see a working demo on jsfiddle than pasted code. You can add external libraries in jsfiddle by going to external ressources and pasting the cdnjs link of Pizzicato (```https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.5.1/Pizzicato.js```)

<img width="182" alt="screen shot 2017-01-22 at 9 51 17 am" src="https://cloud.githubusercontent

[2017-01-23 02:24] proyb6 commented on #44
The code is just a demo example, the bug appear in the effects. Will create
a JSfiddle once I'm free.

On Sun, Jan 22, 2017 at 11:01 PM, Alejandro Mantecon Guillen <
notifications@github.com> wrote:

[2017-01-23 03:26] proyb6 commented on #44
The demo was written as an example with bug on the effects. My Internet is
quite bad here.

On Sunday, 22 January 2017, Alejandro Mantecon Guillen <
notifications@github.com> wrote:

[2017-01-26 15:04] proyb6 commented on #44
JSFiddle *Caution loud volume ahead! Turn down the volume and took off headphone before opening the link *
https://jsfiddle.net/jonuwc2n/5/

My wave files are hosted on HTTP which cannot be serve on non-secure protocol. I have use your drum as an example that will also produce the same bug:
https://alemangui.github.io/pizzicato/audio/drums.m4a

[2017-01-27 21:18] alemangui commented on #44
Interesting stuff. Here's my take on it:

1. The sound glitch can only be heard in **Chrome**. Safari and Firefox behave well.
2. The glitch appears with or without Pizzicato. To reproduce it just use a wave shaper with a curve function and a convolver connected to each other in a loop way (https://jsfiddle.net/qv9psxuL/2/ - careful with your ears)
3. Given that this seems to be a Chrome-specific

[2017-01-28 16:37] #44 closed

[2017-02-19 14:36] #40 closed

[2017-02-21 23:23] 123Jon4 opened #45 "Can't use it with local file:// protocol"
I would like to use Pizzicato with local files, like with Howler.

[2017-02-22 01:03] 123Jon4 commented on #45
I read some articles and it seems not to be possible because JavaScript cannot go outside the sandbox.

[2017-02-22 21:31] alemangui commented on #45
Pizzicato uses AJAX requests to fetch the audio files. If you want to use local files you'll need to start a local server.

If you have Python installed, you can just open the Terminal, go to the folder where you have your html file and audio files, and type ```python -m SimpleHTTPServer```. You'll have a server up and running in no time.

[2017-02-22 21:32] #45 closed

[2017-03-11 16:55] jerrojelly opened #46 "Uncaught TypeError: this.getRawSourceNode is not a function"
On Google Chrome console:
[code]

[code]

There is a wave file existed and loading file is fine except getRawSourceNode is?

[2017-03-11 17:49] jerrojelly commented on #46
This is working fine, something was changed?
```var k1 = new Pizzicato.Sound("assets/piano/"+piano[0]+".wav", function() { k1.play() });```

[2017-03-12 20:25] alemangui commented on #46
Loading a sound from an external file is an asynchronous process. In other words, when you get to ```k1.play()``` the network request needed to fetch the file hasn't completed yet.

This is why you can pass a callback function as argument. This function will be called when the file loads. For example:

[code]

[2017-03-12 20:25] #46 closed

[2017-03-14 12:48] jerrojelly opened #48 "Set holding time/duration for wave file"
We can modify attack and release time, how about modifying duration? I do often have unequal wave file duration e.g. preview audio track that will play 5 seconds (offset fade-in, duration: 5 secs and release fade-out) instead of full length.

[2017-03-19 04:26] jerrojelly commented on #48
Any comment on the holding time?

[2017-03-19 11:15] alemangui commented on #48
Sorry for the delay, hectic week. Can you elaborate on the use case?

Are we talking about specifying which segment of an audio track to use in a ```Pz.Sound```? E.g., I have a 20 second mp3 file, of which I want to use only the first 8 seconds and ignore the rest? If so, this may be a starting point for a discussion on audio sprites.

[2017-03-19 18:51] jerrojelly commented on #48
Yes that right, I have some mp3 audio files that will only need to play for a few seconds and fade out in the last few seconds.

How does chopped up sound look like?

[2017-03-19 18:55] jerrojelly commented on #48
Was there a parameter to set the fadeout durstion in 1 or 2 seconds to as long as 10 seconds?

[2017-03-19 19:10] alemangui commented on #48
Ok, it could be interesting to get this feature into the library. I'm not sure how the API should look like though.

## Through the Sound constructor

On one hand we could add parameters in the constructor of a ```file``` type sound to specify the time range it should act on. An example of this would be ```start``` and ```end```, or ```range```. It could look like this:

[code]

The only issue is

[2017-03-20 01:10] jerrojelly commented on #48
It looks fine and easy to define range, to make it more useful I have come up easier way to add

[code]

fadein start at 10ms and reach from 0-100% volume in 100ms
fadein start at 1000ms and reach from 100-0% volume in 200ms

If there is a user defined volume we could set during playback,
Set to 90% volume at 500ms (e.g.  100% to 90% within 100ms), 50% volume at 800ms  (e.g.  90% to 50% within 100

[2017-03-20 07:12] gimyboya opened #49 "playing sound at a precise timeline value"
I have the following scenario:
1- Open an audio file with `pizzicato`
2- Get the desired starting point time on the timeline from a user triggered event
3- Pass the time to `pizzicato` to start playing the audio at the exact time specified

Now the question is how can i do that i didn't see an example showing that and is it even possible to do it with `pizzicato`?

[2017-03-21 22:26] alemangui commented on #49
You can pass two parameters into the ```play``` function: ```when``` and ```offset``` ([docs](https://github.com/alemangui/pizzicato#play-example)).

Maybe the offset is what you are looking for. For example, if you wanted to start a sound at second 3, you could do:

[code]

[2017-03-21 22:31] alemangui commented on #48
In your previous example:

[code]

What would happen when the sound is playing from 0 to 10ms? Would it be silent?

If so, I am not convinced about having to specify fade-in's start time. The reason is that if the initial segment of a sound should be silent, the parameters ```when``` and ```offset``` of the ```play()``` function should be used.

For instance, in the above case, to ensure that the

[2017-03-22 05:55] jerrojelly commented on #48
0-10 ms is not silent.

On Wednesday, March 22, 2017, Alejandro Mantecon Guillen <
notifications@github.com> wrote:

[2017-03-22 14:31] gimyboya commented on #49
Thanks for your reply i think it's what i need

[2017-03-22 14:31] #49 closed

[2017-03-22 21:32] alemangui commented on #48
OK in that case the sprites would suffice. I want to make sure the API is not complexified by adding things in rather edge cases that can also be achieved differently.

So let's use this Github issue for the sprites feature.

[2017-03-23 07:46] jerrojelly commented on #48
That's great!

On Thursday, March 23, 2017, Alejandro Mantecon Guillen <
notifications@github.com> wrote:

[2017-03-25 10:03] hcollin opened #51 "Bug in removeEffect"
Hi,

While playing around with Pizzicato for my Web Audio Speech I ran into a problem. I created a simple page that uses microphone as an input and by pressing a button you can add effects to it. All fine and well and works great until you try to remove an effect. If the effect that is being removed is not the first effect the pizzicato produces an error:

Uncaught TypeError: this.effectConnectors

[2017-03-25 11:28] alemangui commented on #51
Good catch. This is a regression of the latest version. Your fix is indeed correct, I will incorporate your PR #52 and release a new minor version.

[2017-03-25 11:29] hcollin commented on #51
Great! You can find the demos from my repo if you are interested.

Cheers!

On 25 March 2017 at 13:28, Alejandro Mantecon Guillen <
notifications@github.com> wrote:

[2017-03-25 11:39] alemangui commented on #51
Issue should be solved in 0.6.1.

[2017-03-25 11:39] #51 closed

[2017-03-29 23:33] epiqueras opened #53 "Creating Too Many Sounds Mutes Audio"
Hello,

I am creating a lot of sounds, each with their own effects. When their settings change, I create new sounds instead of modifying the existing ones. After the second settings change, all sounds stop playing with no errors printed to the console.

I think that this is due to the amount of sounds being created, and Pizzicato holding on to them even though I stopped referencing them in my code

[2017-03-30 17:54] epiqueras opened #54 "Changing sound's filepath"
Is it possible to change a sound's file path and have it load the new sound?

[2017-03-30 18:03] JohnPaulHarold commented on #54
@epiqueras what's he use case stopping you from just creating a new `Pz.Sound()`?

[2017-03-30 18:13] JohnPaulHarold commented on #53
@epiqueras can you provide code demonstrating what you are trying to achieve. Pastebin or something?

[2017-03-30 19:24] epiqueras commented on #53
@JohnPaulHarold
https://repl.it/GnTO

[2017-03-30 19:25] epiqueras commented on #54
@JohnPaulHarold #53 , stops me from creating more sounds each time the file path changes, because eventually all sounds will stop.

[2017-03-30 20:12] JohnPaulHarold commented on #53
@epiqueras you hit a limit < 1000 in Chrome, and < 100 in Firefox, so this may well be hitting browser limits. I was certainly close to requiring to terminate my Chrome instance when trying 10000. What is the use case for this many concurrent Sound objects?

[2017-03-30 20:16] JohnPaulHarold commented on #54
@epiqueras https://github.com/alemangui/pizzicato/issues/53 alludes to a use case whereby you need a massive amount of concurrent sounds, each with presumably something different a-happening. This issue reads like a potentially different use case. Can you detail what you are trying to achieve.

[2017-03-31 01:24] epiqueras commented on #53
@JohnPaulHarold

It's an audio editing application with many concurrent Sound objects that you can configure.
So the browser can't handle too many attached sound objects? is there a method for detaching them?

[2017-03-31 01:30] epiqueras commented on #54
I worked around #53 by modifying the existing sounds instead of creating new ones every time a user changes the configuration. The only property I can't seem to change is the file path. I was wondering if there was a way to change it to avoid creating a new sound and possibly running into #53 after users change a sound's file path multiple times.

[2017-04-01 08:43] JohnPaulHarold commented on #53
@epiqueras it might be worth trying similar tests using the WebAudio API directly and see if the issue is due to Pz or that you're simply running into limits with the browsers.

[2017-04-02 08:31] alemangui commented on #53
Hey, I've played around with https://repl.it/GnTO.

There seems to be a memory limitation. In order to free up a ```Pizzicato.Sound``` object, I recommend that you call the ```disconnect``` function on it. This will remove the connection of the sound to the context's output, leaving it as an orphan graph and thus being cleaned when necessary.

An example of this can be found at https://jsfiddle.ne

[2017-04-02 12:51] alemangui commented on #54
This is not possible at the moment. If the workaround proposed in #53 does not fit your use case we can further discuss of the best way to have this feature in.

[2017-04-02 23:37] epiqueras commented on #53
@alemangui
That fixed it. Thanks!
https://repl.it/GnTO/latest

Maybe this should be added to the docs?

[2017-04-02 23:38] #54 closed

[2017-04-03 08:10] alemangui commented on #53
Yes definitely, I'll leave the issue open until I add the memory section to the docs.

[2017-04-06 21:19] #53 closed

[2017-04-22 21:05] spacecowgoesmoo opened #55 "createStereoPanner unsupported by Safari"
I've made a quick modification for my own project using createPanner() instead. Just posting it here in case you'd like to add it in as a fallback.

[pan.txt](https://github.com/alemangui/pizzicato/files/949270/pan.txt)

[2017-04-23 17:31] alemangui commented on #55
Good catch, thanks! I will keep this issue open until I add the workaround for Safari.

[2017-04-26 20:33] Gust4vo opened #56 "save a pizzicato edit audio or transform to a base64"
One a sound is recorded, and edited with the effects, can i save it? transform to a blob representing the audio data or to a base 64?. I need to save the edited audio in base64.

[2017-04-27 00:00] spyeadon commented on #56
I was just wondering the same thing...

[2017-04-27 13:05] Gust4vo commented on #56
I'm trying to record my voice, after that, give the user a option to edit the record with some preset and save the audio in a base64, because I need to send the file to a server.

I need help T.T

[2017-04-27 19:28] spacecowgoesmoo opened #57 "Outdated links"
The links in the upper left corner of at [https://alemangui.github.io/pizzicato/]() point to version 0.3.2, which is missing some effects. Looks like 0.6.1 is the current version according to Github.

[2017-04-28 10:47] alemangui commented on #57
Thanks for raising this 👍  I also changed the source of the scripts to use CDN.

[2017-04-28 10:47] #57 closed

[2017-05-09 22:41] alemangui commented on #56
Hey guys. I'll look into this... it's currently not in the immediate roadmap but it would be interesting to explore the use case. Will keep you posted.

[2017-05-19 00:45] alammm opened #60 "Group don't work"
Hi team, first: thanks for this library it's rock!
Second: I have a issue with group.play()

I test this code:

var drums = new Pizzicato.Sound('./audio/drums.mp3');
var guitar = new Pizzicato.Sound('./audio/guitar.mp3');
var bass = new Pizzicato.Sound('./audio/bass.mp3');

var group = new Pizzicato.Group([drums, guitar]);

group.addSound(bass);
group.play();

And I have a error... I test others m

[2017-05-19 06:48] proyb6 commented on #60
What is the error message?

[2017-05-19 14:59] alammm commented on #60
Hi @proyb6 thanks for your reaction.

this is the error "this.getRawSourceNode is not a function".

now i find a solution...

var kick = new pizzicato.Sound('./assets/sounds/kick.wav', function() {
      var hihat = new pizzicato.Sound('./assets/sounds/hh.wav', function() {
        var snare = new pizzicato.Sound('./assets/sounds/snare.wav', function() {
          // Sound loaded!
          var gr

[2017-05-19 14:59] #60 closed

[2017-05-28 16:37] alemangui opened #62 "navigator.getUserMedia() is deprecated"
The function should be replaced by ```navigator.mediaDevices.getUserMedia``` https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia

[2017-05-28 20:23] alemangui commented on #10
This is likely solved by commit ca45b5a99ef39455d7e7925561a67eafed622cfb (switching Firefox test environment to Chrome). Will reopen if the issue persists.

[2017-05-28 20:23] #10 closed

[2017-05-28 20:23] #62 closed

[2017-06-11 12:54] proyb6 opened #63 "Create more than one stereopanner?"
Tested on Google Chrome Stable and newest update, macOS 10.12.

1) Multi-stereo panner?
I tried to create 2 groups and apply stereopanner effect seem it only one effect can be used?
Can we apply individual panner for individual instruments?

[code]

2) Distortion with >0 value? Only certain file can produce distortion, for example a piano has 88 keys, the few keys on the bass range will result in

[2017-06-24 13:13] #63 closed

[2017-07-09 03:01] aahedi opened #64 "Can not do a function waveform of mic or audio"
Is it can do a function like this:

if waveform is low then hide image, else show image.

repeating function on when playing audio

Example:
![audio-waveform](https://user-images.githubusercontent.com/8935884/27990831-7dd6aef4-648d-11e7-8aca-7bee5cf6c161.png)

[2017-07-16 08:09] alemangui commented on #64
Hey, this is not a main use case of Pizzicato. However, you can likely achieve it by attaching an `analyserNode` to the `Pz.Sound` object and checking the values returned by the `analyserNode` to trigger the show/hide of the image.

You have an example of attaching an analyser node to a `Sound` object here: https://github.com/alemangui/pizzicato#connecting-nodes-to-a-pizzicatosound-object

[2017-07-16 08:09] #64 closed

[2017-07-31 18:57] malorus opened #65 "use in angular/typescript"
Hi there, I accidently discovered this lib and it really looks great, congratulations guys. But how to incorporate this lib into typescript? I'm developing with angular, so usually I import the classes I need. I have already tried
`import {Pizzicato} from 'pizzicato'`
but it didn't work. I get an error:
`ERROR ReferenceError: Pizzicato is not defined`
It only works when using the cdn-style. But I'

[2017-08-01 11:08] malorus commented on #65
I solved it on my own. In Pizzicato.js I added:

`	if (commonJS)
		module.exports.Pizzicato = Pizzicato;`

And inside my typescript-file I import it this way:

`import { Pizzicato } from "pizzicato/distr/Pizzicato";`

Now it works perfectly.

[2017-08-01 11:08] #65 closed

[2017-08-01 11:24] alemangui commented on #65
Hey, good to know you found a solution :)

[2017-08-01 16:35] malorus opened #66 "callback after end of sound"
Hi, me again :)
I just thought it would be a good idea if there would be a listener for the end of a soundfile. I searched in the docu for such a callback but couldn't see anything. There are use-cases, where you want to take some actions after the end of the file has been reached. It would be great to have something like:

[code]

by the way, I've just found an issue [right here about trigger-eve

[2017-08-01 18:22] alemangui commented on #66
Hey, actually there is currently an event launched when a sound is over, and it works exactly as you suggested it:

[code]

There are four events you can listen to: ```play```, ```pause```, ```stop``` and ```end```

You can see an example in the Sound test file at ```tests/Sound.test.js```.

I will maintain this issue open until these are documented in the ```Readme.md``` file.

[2017-08-01 18:22] malorus commented on #66
As I have just discovered, such a callback is already implemented. But as it is not mentioned in the documentation, I thought it is not present. So, for all those ones searching in the future for a callback after the file has finished playing, the above mentioned listener will work:

[code]

[2017-08-01 18:23] alemangui commented on #66
I will keep this open until documentation for all events is added.

[2017-08-01 19:23] alemangui commented on #66
Documentation on events added.

[2017-08-01 19:23] #66 closed

[2017-08-01 19:46] malorus opened #67 "sound.release has no effect"
Can anyone confirm that the release has no effect?

[code]

Attack works fine, but release does not. Even with a value of 10 the sound stops abruptly. There is no fade-out effect.

[2017-08-01 19:54] alemangui commented on #67
Hmm... what source of sound are you using (file, wave...)? Also, what browser are you running it on?

[2017-08-01 20:19] malorus commented on #67
I'm using file as source (mp3), using chrome 59 and firefox 54. I was lucky with no one of them...

[2017-08-01 20:26] alemangui commented on #67
Can you create a jsfiddle with the issue and the mp3 file? I will take a look.

[2017-08-02 16:15] malorus commented on #67
You'll find the code right here. But without the audio file. I tried to provide a full working example but I could not provide the audio file over https. So I give you the example right here. I have already checked multiple files and settings. The result: `release` does not have any effect, no matter what the value is. As mentioned, `attack `works fine.

[code]
I click on a button and a function i

[2017-08-04 13:19] wildfiremedia opened #68 "Read compressedcontent in JSZip?"
How to read MP3 file in JSZip object's compressedcontent?
https://stuk.github.io/jszip/

// Point to zip file located in local disk...
    var loadmp3
    JSZipUtils.getBinaryContent('file:///.../.../b.zip', function(err, data) {
      if(err) { console.log(err) }
        JSZip.loadAsync(data).then(function (ee) {
        loadmp3 = ee.files["b.mp3"]._data.compressedContent
        var mp3 = new Pi

[2017-08-05 18:52] malorus opened #69 "onend for groups?"
Hi, another question: I'm about to use grouped sounds. And it works perfectly. But how can I detect the end of the group? On individual sounds there is the function
`sound.on('end', ()=>{console.log('finished')});`.
But what about groups? I noticed that this function does not work on groups. So how can I detect that the group has stopped playing?

[2017-08-06 12:12] malorus commented on #69
As I could not find an eventlistener for a group of sounds, I simply avoid using groups. For those ones interested:
[code]

At least in my case it is a workaround. Though I would appreciate if there would be a listener for a group, like
`group.on('end', ()=>{console.log('finished');});`

[2017-08-13 07:53] bogolubow commented on #51
Hi! I have version 0.6.1 instaled from npm but in dist folder i have still `this.effectConnectors(index - 1)` -> 1011 line ;

[2017-08-24 14:19] mrrm92 opened #70 "Can I synthesize sounds with Pizzicato.js?"
As in subject, I saw there are filters and waveshape generators.
Are also there LFOs, Envelopes and additive/subtractive/modulation synthesis techniques possible?

Thanks in advance for help.

[2017-08-24 14:58] ricci07 opened #71 "How do you play audio from mic, like in the demo page?"
[code]

[2017-08-24 17:31] moahammadalt opened #72 "event listener for an input audio"
I want to simulate audio input from a mic to create an audio visualizer
is there is any event listener to catch instantly the frequency of the inserted audio input from a mic?

[2017-08-25 18:41] alemangui commented on #69
This looks like an interesting feature - adding the same events we have for Sound objects for the Group objects as well.

[2017-08-25 23:13] alemangui commented on #67
Hey sorry for the late reply.

The release works basically when the ```pause``` or ```stop``` functions are used. When a sound file ends there is no release because none of the functions were invoked. Is this your use case?

[2017-08-25 23:16] alemangui commented on #70
It is possible to use Pizzicato with base Web Audio nodes, which means that you can create whichever arrangement you need that may not be in Pizzicato (_e.g.,_ envelopes, modulation, etc).

The way this works is further detailed in the [using Pizzicato objects in a web audio graph](https://github.com/alemangui/pizzicato#using-pizzicato-objects-in-a-web-audio-graph) section of the docs. You could b

[2017-08-25 23:17] #70 closed

[2017-08-25 23:22] alemangui commented on #68
I imagine the variable ```loadmp3``` is an array buffer or raw data? As of today unfortunately there is no way to instantiate a ```Pz.Sound``` from the data directly.

[2017-08-25 23:34] alemangui commented on #71
This looks weird indeed. I was able to reproduce your problem in JsFiddle. I'll dig into it.

In the meantime and as a workaround placing the ```play``` function inside a callback will work:

[code]

[2017-08-26 12:58] malorus commented on #67
No problem mate.

Ok, that explains it all. I thought the release would affect the end of a soundfile. But actually it only takes effect when pausing or stopping the file. It was my misconception. Do you think it might be a good idea to add an additional feature that adds a fade-out effect? Something like:
[code]
There are use cases where this fadeout feature could avoid clips when the file itself

[2017-09-13 21:13] malorus opened #73 "play several sounds in sequence"
Hi, just  short one. I'm trying to play 5 different samples with a time interval of 1s. I have a code like this one:

[code]

that's a really complex structure for a simple purpose. Is there any other way to play back a sequence of sounds?

[2017-09-16 11:00] malorus commented on #73
For all those ones interested: as there is no other way, it makes definitely sense to create a rekursive function, as the structure above is obviously a rekursion. Therefore you could code something like this:

[code]

This will play back all sounds in intervals of 1s. You just pass an array with all paths as an argument.

[2017-09-16 11:00] #73 closed

[2017-09-22 05:19] sohchy opened #74 "is it possible to do a phase shift?"
Curious if it is possible to do a phase shift like a pi/2 or pi/4 shift?

[2017-09-24 19:42] alemangui commented on #74
Unfortunately it's not possible to do so with Pizzicato. Nonetheless you can still [use web audio nodes](https://github.com/alemangui/pizzicato#using-graph) alongside Pizzicato to give it a go yourself.

[2017-09-24 19:42] #74 closed

[2017-09-24 19:45] alemangui commented on #72
I'm not sure I completely understand the use case. What exactly would the simulation of a mic input be needed in your case? If it is to test a visualization you can always use a few recorded samples with it.

On the other hand, by "catching instantly the frequency" do you mean some sort of frequency detection mechanism (e.g., guitar tuner)?

[2017-09-24 20:59] #68 closed

[2017-09-24 21:04] alemangui commented on #67
Thanks, it's an interesting proposal for the library. Given that it would only be useful for sounds loaded from files (which haven't been faded-out already) this feature will have a lower priority in the backlog than other ones in line. I will close this issue in the meantime, once/if the implementation is done I'll open a new one to avoid mixing topics.

[2017-09-24 21:04] #67 closed

[2017-10-21 11:49] proyb6 opened #75 "Crosstalk sound effect"
I'm thinking one particular effect that could make sounds on the left could crosstalk with delay to the right headphone and sounds on the right to crosstalk with delay to the left headphone, something the video: https://www.youtube.com/watch?v=iMJ9OTXsQSg

Convolution is limited for ambience effect.

Left to right and left to right sounds could use the same parameters as Pz's Reverb effect.

What

[2017-11-04 10:23] alemangui commented on #75
Could be something interesting, I imagine it's vaguely similar in idea to the [Ping Pong Delay](https://alemangui.github.io/pizzicato/#ping-pong-delay) except it wouldn't bounce around am I right?

[2017-11-04 10:28] alemangui commented on #71
Under the hood Pizzicato will call ```navigator.mediaDevices.getUserMedia``` (or equivalent) to get access to the mic. This function is asynchronous though, so the callback function must be used in order to use an input Pz.Sound.

[2017-11-04 10:28] #71 closed

[2017-11-04 11:13] #55 closed

[2017-11-11 08:54] proyb6 commented on #75
Sorry for the delay, I have only read the notification today. Yes, wont bounce around.

I don't know the proper term for this effect.

[2017-12-01 22:13] schema0708 opened #76 "getByteFrequencyData - issue?"
Hi,

I would like to use Pizzicato, with Three JS to create a sound visualizer, but for some reason after I create my frequencyData, it returning a frequency of 0 for each band. Is there something that I'm missing in order to get these frequencies so I can them manipulate my meshes with Three JS, please let me know?. I've attached a screenshot of my console window, and pasted my code below for ref

[2017-12-06 21:37] malorus opened #77 "playback file before completely downloaded"
Hi, I just wanted to playback a large file. But I recognised that Pizzicato plays the file after it has been completely downloaded. This leads to a big delay at the beginning. Is there any way to playback files while downloading them? So that it plays the parts that are already available without waiting for the entire file.
greetz,
malorus

[2017-12-22 13:47] miikakuisma opened #78 "Problem with removeEffect() and groups"
Thanks for making this awesome library!

I've group of sounds and I'm adding multiple effects on the group. Everything works great except if I'm removing effects. If there are more than 1 effect on the group then: removing any other effect except the first one will produce error: `TypeError: this.effectConnectors is not a function`

If I remove the effects in the same order as I've added them, the

[2018-01-05 21:48] midipixel commented on #76
Hey Abel, you must connect your analyser node to Pizzicato's masterGainNode, instead of connecting it to the Sound Object:

`Pizzicato.masterGainNode.connect(analyser);`

[2018-01-05 22:01] midipixel opened #79 "Release stopped working on Firefox"
I've been working on a sound design app that uses Pizzicato heavily. Release was working fine on every supported browser, but it has stopped working on Firefox 57.0.4 (64-bit). I don't know exactly when, sinceI've been developing on Chrome for a while, but perhaps it was the Quantum release?

At the moment, this is easily verifiable at [Pizzicato's own Attack/Release Demo](https://alemangui.github

[2018-01-05 22:44] schema0708 commented on #76
Thanks for the reply but I managed to figure it out on my own.

[2018-01-05 23:47] midipixel opened #80 "Attack doesn't work after the first playback of a sound (Chrome)"
Hey @alemangui .

There is a weird behavior going on with the Attack envelope on Chrome. It stops being applied after the first time the sound is played. My app is heavily reliant upon the volume envelope, so I tried debugging it for a while, and found out that the only solution would be creating a new Pizzicato sound at every playback, and then setting the attack value at the callback.  Here's a

[2018-01-10 22:05] alemangui commented on #80
Hey thanks a lot for raising this. I definitely could reproduce it in Chrome. The 'end' event is also a bug for sure. I will take a deeper look soon and keep you posted

[2018-01-10 22:06] alemangui commented on #79
Thanks for raising this 👍  Confirmed on my side as well with the new Firefox release. Will take a look.

[2018-01-10 22:09] alemangui commented on #78
Sorry for the late reply and thanks for raising this issue. I will take a look at this. Probably linked to commit 62ac78e from issue #42

[2018-01-10 22:12] alemangui commented on #77
Hey, sorry for the late reply. Unfortunately Pizzicato can't currently do that by itself. You might be able to cook something up using streams + the fetch API, but Pz won't be of much help on that :(

[2018-01-10 22:12] #77 closed

[2018-01-10 22:13] #76 closed

[2018-01-10 22:14] alemangui commented on #72
Hey I will close this issue but let me know of you have some more specific use case and we'll go over it.

[2018-01-10 22:14] #72 closed

[2018-01-11 20:28] midipixel commented on #79
No problem! By the way, I ended up writing my own release method, and I wonder if you'd considered using [setTargetAtTime ](https://developer.mozilla.org/en-US/docs/Web/API/AudioParam/setTargetAtTime), instead of setValueAtTime. As MDN describes, it is "useful for decay or release portions of ADSR envelopes" and I agree! My implementation was quite simple:

[code]

Also, I think you'd like to chec

[2018-01-14 21:34] alemangui commented on #78
The fix is in master and will be present in the next release 👍

[2018-01-14 21:34] #78 closed

[2018-01-17 22:00] alemangui commented on #79
Oh I think I see the problem... The issue with this bug is calculating the "real" remaining release (or attack for that matter).

So for instance, imagine you have a sound with an attack of 1 second and a release of 1 second as well. Let's say you:

- **a)** start the sound
- **b)** keep it playing for 2 seconds (so now it's past the attack phase),
- **c)** pause the sound only for 500ms (the rele

[2018-01-17 22:04] alemangui commented on #15
Hey @midipixel, I checked out your [sound design app](http://blendwave.net/beta/?p=wavePanel). Very cool stuff 👍  I couldn't help noticing you have a very nice pitch bending effect. If you'd like to chime in to this topic don't hesitate :)

[2018-01-17 22:46] alemangui commented on #79
The Firefox-specific workaround is present on version 0.6.3.

[2018-01-17 22:46] #79 closed

[2018-01-18 19:36] midipixel commented on #15
Hey @alemangui , thanks for the mention. The pitch shifting I'm using on Blendwave is pretty simple, though. It features no time stretching algorithm, like the ones you've been discussing here.

I think you could at least add this basic kind pitch shifting option to Pizzicato, as it's just a matter of changing the source node's detune value. It's useful in many cases and just plain fun as an effec

[2018-01-18 19:49] midipixel commented on #79
Ooooh... now I understand why you wrote the code that way! :D Just an opinion about this rationale:

The situation you describe isn't how most ADSR envelopes are implemented. On most synths and samplers, as you certainly know, once a note (or sound) is played, you can't pause it midway and then resume, reapplying the envelope in the remaining part of a sound. ADSR amplitude envelopes are usually u

[2018-01-24 12:35] adarsh-farmguide commented on #56
Hi @alemangui

Two things.

1. Are you planning to include this feature in future? If yes, is there any timeline for it?

2. If this is not planned in near future, can you give me some hint how to go about it on my own? Maybe a small code snippet. I have been trying hard to do this using MediaRecorder but I keep getting empty Blob data in *mediaRecorder.ondataavailable* event callback.
[pizzicato.

[2018-01-28 19:23] alemangui commented on #56
@adarsh-farmguide it's not in the roadmap but if you wish to give it a shot feel free to do so.

One idea is to take a [scriptProcessorNode](https://developer.mozilla.org/en-US/docs/Web/API/ScriptProcessorNode) which could be placed at the end of the audio-graph (possibly after the `masterGainNode`) and then bind a function to the [onaudioprocess](https://developer.mozilla.org/en-US/docs/Web/API/S

[2018-01-29 18:34] vonba opened #81 "Audio not playing on iPhone"
Hi there,

I can't get the audio to start on iPhone. The file seems to load but never actually play. Could it be because of a restriction needing a click event?

Here's a very simple test - a blank page that plays a sample. It seems to work on Android but not on iPhone - tested in Safari and Chrome.
http://balthazaurus.com/audiotest

The code is essentially the same as on the demo site:

[code]

M

[2018-01-30 08:11] thierrymichel opened #82 "Chrome deprecation notices"
Thanks a lot for this great lib! 👍

Just a question. I've got some deprecation notices in Chrome.
All seem related to same `setTargetAtTime()` thing.
Do you plan to make some update?

Cheers,

[code]

[2018-02-03 13:32] alemangui commented on #82
Hey thanks for raising this issue. I'll look into it. Normally in most places we don't really rely on the automatic smoothing, but maybe we should switch to a different way of setting the audio params.

[2018-02-05 18:45] hovi opened #83 "Playing sound right after another one finishes and sync"
Hi,

I was wondering if there's a guaranteed way to play 2 sounds right after eachother. I need perfect timing as those are music samples. Is `sound.on("end"...` way to go or can you point me into a direction? I saw #73 , but that has to be horribly inaccurate for my purpose.

And then I got even more complicated possibility I am considering - I have some initial track (probably groups actually),

[2018-02-19 22:27] Kagami commented on #15
You may try [jungle.js library](https://github.com/cwilso/Audio-Input-Effects/blob/master/js/jungle.js).

[2018-02-20 03:52] bptremblay commented on #81
Me too! iPhone console does not show a js exception.

[2018-02-20 15:32] bptremblay commented on #81
This documentation suggests that no matter what you do, your app cannot play sound on an IOS device if it's not triggered by a real UI event (pressing a button).
This means you can't write a web application that just starts playing audio. It also explains why the pizzicato demo works.
https://developer.apple.com/library/content/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/Playingand

[2018-02-20 17:18] vonba commented on #81
My issue was that it *was* triggered by a click event, but still wouldn't play. And this restriction exists on Android as well, but on Android the test did work.

I ended up loading the audio automatically on page load and then having the play method triggered directly by the click event, and this works on both Android and iOS.

So the problem seems to be that, as far as iOS is concerned, the conn

[2018-02-20 20:33] alemangui commented on #83
Accurate timing will be tough with the triggers and callbacks :(  The only way I can think of having more precise timing is to use the parameters in the ```play``` function to specify the exact start time, notably the ```when``` and ```offset``` params.

https://github.com/alemangui/pizzicato#play-example

[2018-02-20 20:37] alemangui commented on #81
Hey,

Yep, iOS can be a bit of a headache with the physical triggers needed for the web audio to start playing.

"So the problem seems to be that, as far as iOS is concerned, the connection between the click event and the callback subsequently firing is lost" that's an interesting point, and given that the loading of an external audio file is asynchronous I don't know if there's a way to circumven

[2018-03-02 21:29] adrian-the-git commented on #81
It appears you just need to play *some* audio in response to a user generated event in order to "unlock" the audio and start using the APIs on iOS. I'm not sure which events count, but `click` is probably a safe bet.
[code]

[2018-03-05 05:42] aahedi commented on #82
I also experienced it and can't play input live audio because of it.
![error](https://user-images.githubusercontent.com/8935884/36959057-a98b45ae-2072-11e8-9945-d530b6cb2b4c.jpg)

[2018-03-21 02:16] dfromero opened #85 "Using pizzicato only to add sound effects"
I've got a webaudio based application that is highly coupled with howlerjs, would it be possible to use pizzicato to add effects to a howlerjs sound (accessing low level api exposed by the object) ?

[2018-04-10 18:42] vonba commented on #81
@adrian-the-git I already worked around my issue by first loading all my files and then showing a play button, but your solution sounds like a good option.

[2018-04-10 18:42] #81 closed

[2018-04-18 06:42] bryan63 opened #86 "How to free up memory?"
After a while, the browser tab is   shutdown
Code: https://pastebin.com/ve7gb3qu
_disconnect_ method does not clear memory

[2018-04-19 11:34] brunotome opened #87 "Loop attribute not working"
var homeLoopAudio = new Pizzicato.Sound({
        source: 'file',
        loop: true,
        options: {
          path: audiosHome[randomVariable],
          volume: 0.1
        }
      }, function() {
        homeLoopAudio.play();
      });

The loop is not working, and i don't know why. Anyone with the same problem?

[2018-06-05 04:12] Jacob8765 commented on #46
I also have this problem. I tried the solution @alemangui posted and the page loads, but no sound plays. I am using the npm version on React.

[2018-06-28 05:38] christoph-phillips commented on #56
Firstly just wanted to say a big thank you for making this awesome library!

I'm not using Pizzicato for recording but have been using an enhanced version of Recorder.js for creating stereo encoded WAV and MP3s. The base library is using a scriptProcessorNode to collect audio data at intervals -> write to buffer -> convert to WAV.

I am however using Pizzicato for effects handling, both `live` and

[2018-06-30 21:39] nascent opened #88 "Group sounds"
Hi,

Great product, best I've found so far and from a musician is even better but I was wondering whether more than one group can be used at a time, in a similar manner to how an audio console might work such that a Group can be part of another Group.

Cheers

[2018-06-30 21:41] nascent commented on #85
From my understanding, Pizzicato is designed to work standalone, and you can (if you wish) pass audio to the Web Audio API via Pizzicatos' AudioContext.

[2018-07-15 08:10] alemangui commented on #46
Hey can you post the code you are using to take a look?

[2018-07-15 08:31] alemangui commented on #87
The loop option should be inside the ```options``` object:

[code]

More info here: https://github.com/alemangui/pizzicato#sounds-from-a-file-example

[2018-07-15 08:31] #87 closed

[2018-07-15 08:34] alemangui commented on #85
@dfromero, I'll close this, the link sent by @evoyy should details how to use the effects on standalone. Feel free to reopen if you encounter issues.

[2018-07-15 08:34] #85 closed

[2018-07-15 08:35] alemangui commented on #83
Closing this, let me know if you encounter issues with the ```play``` parameters.

[2018-07-15 08:35] #83 closed

[2018-07-15 09:07] nascent commented on #88
It definitely does what is on the pack and is the *only* solution that allows a fully custom multitrack player that abstracts the detail away from getting the job done.

About Groups, I meant being able to put groups in group, aka sub-groups so for example I have drums in one group, percussion in another and a drum machine (all mp3s) but each group is fed by single tracks for kick, snare etc., so

[2018-07-24 16:52] christoph-phillips commented on #56
Hey also sorry for my late reply - I've been having a summer holiday :)

1. `startRecording` and `stopRecording` sounds absolutely fine
2. We haven't been keeping the sound playing through speakers in my current project but keeping source connected to the speaker destination should be ok.
3. RecorderJS has now been made into one file with an inline web worker which has all the basic functionality

[2018-08-09 03:11] zhengyanhu opened #90 "How do I generate a random frequency noise instead of white noise?"
I get a demand that users can hear different frequencies of noise, how can I achieve this?

[2018-08-29 00:38] adrian-the-git commented on #81
@Aman1324 for iOS, ensure that your first call to `play` is in response to some kind of user input event, _not_ in the callback to said event provided by a web framework. If the callback is deferred in any way, iOS won't unlock the audio context.

[2018-09-05 13:07] christoph-phillips opened #91 "Chrome 69 Release Pizzicato Library Not Functioning"
I started with Chrome 69 today and received this error for Pizzicato effects:

[code]

[2018-10-11 15:40] koraysels commented on #91
I have the same problem. all other browsers seem to work..

[2018-10-24 15:13] koraysels commented on #65
here is a solution without having to patch the node_modules folder

`import * as Pizzicato from 'pizzicato/distr/Pizzicato.js';`

[2018-10-28 20:16] alemangui commented on #90
Hi @zhengyanhu, I can't help you with the specific implementation of the noise function, but you can integrate it into a Pizzicato by creating a [Sound from an audio function](https://github.com/alemangui/pizzicato#sounds-from-a-function).

Some information and example codes about different kinds of noise can be found here: https://noisehack.com/generate-noise-web-audio-api/

[2018-10-28 20:16] #90 closed

[2018-10-28 20:38] alemangui commented on #88
The only way of achieving this would be to manually make the connections between the groups by [creating an audio graph](https://github.com/alemangui/pizzicato#using-pizzicato-objects-in-a-web-audio-graph).

So for instance, if you have three groups that you want to connect to a single node you can do so manually using the ```connect``` function. It would look something like this:

[code]

Unfortu

[2018-10-28 20:38] #88 closed

[2018-10-28 20:41] alemangui commented on #82
I'm unable to reproduce these warnings with Pizzicato 0.6.4 on Chrome 70. Feel free to re-open if you still see them.

[2018-10-28 20:41] #82 closed

[2018-10-29 02:20] nascent commented on #91
Hi,

This seems to still be happening for groups.

[2018-10-29 02:24] garthholmes opened #94 "Convolver node on groups"
Hi,

I believe a problem was recently fixed with the Convolution reverb on instruments in Google Chrome, however it still seems to occur in relation to groups, e.g.

Uncaught DOMException: Failed to set the 'buffer' property on 'ConvolverNode': Cannot set buffer to non-null after it has been already been set to a non-null buffer at Pizzicato.Effects.Reverb.buildImpulse

[2018-11-13 08:27] Girlsmile opened #96 "can i use it in node.js"

[2018-12-01 03:53] nascent opened #97 "Not working in chrome"
Hi,

Wonderful library but it is only working in FireFox at present.

Chrome gives the following errors:

Uncaught DOMException: Failed to set the 'buffer' property on 'ConvolverNode': Cannot set buffer to non-null after it has been already been set to a non-null buffer

Seems to work now in Chrome

[2018-12-14 11:14] dirkk0 opened #98 "Combination of Tone.js and Pizzicato doesn't work in Safari"
Hi,

  thanks for the library!

I have a special use case, where I need to combine several libraries.
Everything works fine on Chrome but this jsFiddle fails on Mac/Safari:
https://jsfiddle.net/dirkk0/zd1tp8sc/

with the 'this.getRawSourceNode' error.
It seems the load function is never called.

From what I can see, Pizzicato doesn't play well with Tone and I wonder why.
Also, by commenting out th

[2019-01-01 00:17] dschoon commented on #56
Hey guys, this new feature sounds exactly like what I'm looking for. How's it going? Is there anything I can do to help? Maybe you could push any existing code to a branch?

[2019-02-06 08:36] MyZeD opened #100 "Soundfile thought microphone"
Hello Community,

there's a method to stream sound from a file (for example 'mp3') throught microphone ?
Like... you have a Voice-Client like Skype, Discord, Teamspeak (or something like this) and you execute pizzicato and the Partner hears this Sound ?

Thank you very much and best regards.

[2019-02-06 09:21] MyZeD commented on #96
Sure, check out https://www.npmjs.com/package/pizzicato

[2019-02-17 03:09] #97 closed

[2019-02-17 03:10] #94 closed, assigned to nobody

[2019-02-26 02:29] mastashake08 commented on #71
When I do the callback it is iffy. Sometimes it works currently only twice.

[2019-03-17 02:50] nascent opened #101 "Creating a Parametric Equaliser"
Hi,

I have successfully implemented pizzicato.js on a website and it's working quite well, however I was surprised that there was no example in relation to creating a Parametric Equaliser.

I looked through the library code and found that while there are references to BiquadFilter, insofar as types are concerned; I do not see for example "highshelf", "peaking" or "lowshelf" and instead see "hipas

[2019-03-21 19:58] nesja opened #102 "Cloned sound is not playing"
Cannot play cloned sound. Firefox and chrome give an error for both wave and file sources. For waves, an error in Firefox is: TypeError: e.gainSuccessor is undefined.
https://jsfiddle.net/mvd8uore/3/

[2019-03-26 09:57] MyZeD commented on #100
Checked and dont worked with the default Sound API... :(

[2019-03-26 09:57] #100 closed

[2019-04-08 09:32] T-vK opened #103 "InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable"
This code:

[code]

results in this error:

The error seems to be thrown by the browser directly as no script or line number is provided for this error.

Browser: Firefox 66.0 (Addons disabled)
Operating system: Linux (Fedora 29; Kernel 5.0.5)

[2019-04-08 22:03] T-vK opened #104 "Why does group.play() not take parameters?"
Imo group play should take the same parameters as sound.play() and they should simply get passed through. What do you think?

[2019-04-12 08:11] alp2201 commented on #60
I'm having the same problem! When I tried the above solution, it blocked a cross origin request, and when I fetch the files sequentially I get the "this.getRawAudioSource is not a function" error.

[2019-04-12 08:15] alp2201 commented on #60
Actually, I got this to play the 2 tracks simultaneously with no errors! Thanks for your comment alammm!

var group = new Pizzicato.Group();
var track1 = new Pizzicato.Sound('./GB1.mp3', function() {
group = new Pizzicato.Group();
group.addSound(track1);
});
var track2 = new Pizzicato.Sound('./Crunk_House_1.mp3', function() {
group = new Pizzicato.Group();
group.addSound(track2);
group.play();
});

[2019-04-12 09:05] T-vK commented on #86
I noticed a lot of crashing as well after loading a lot of mp3s.

[2019-04-15 20:21] Catsvilles commented on #56
@christoph-phillips Oh, I trying to achieve this for days already, is there any possible way you could share the modified version with us or just point me somehow to achieving this? Would mean or world to me! Btw, just another question that pops in my head - is it actually possible to apply effects to an audio file and then get it as a buffer which already cointains all the effects?? I just starte

[2019-04-16 07:03] Catsvilles opened #105 "Ability to apply effects to a file and getting the result as an AudioBuffer"
Would be really nice to have such a possibility, so we could export the AudioBuffer to .wav or use it with other libraries. I think this could be acheived with OfflineAudioContext. It's just my first few days with Audio API and I don't have enough experience to implement this by myself.
Or, it's actually already possible and I'm missing something here? Please, if you have any ideas how could I ach

[2019-04-16 21:34] qbolec opened #106 "adding Quadrafuzz to sound causes speaker icon to appear on Chrome's tab"
If I start with:
[code]
then everything is fine, no sound is playing, and there is no speaker icon on the tab in my browser. But as soon as I follow up with:
[code]
the speaker icon on the tab appears, even though no sound is playing right now.
I've tested with `LowPassFilter` instead of `Quadrafuzz` and the icon does not appear.

[2019-04-16 21:36] qbolec commented on #106
(my Chrome Version is 73.0.3683.103 (Oficial) (64-bit),
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.103 Safari/537.36 )

[2019-04-17 10:42] mNadimMat opened #107 "Issue when playing an audio"
Hello ,
I am using pizzicato to play background audios.
Audios are located under localhost:2000 and i'm fetching them from localhost:8080.
I'm getting this error

    at o.Sound.value [as getSourceNode] (https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.4/Pizzicato.min.js:1:11110)
    at o.Sound.value [as play] (https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.4/Pizzicato.min.js:1:7601)

[2019-04-18 18:22] michaelslevy opened #108 "Splitter returns the left channel on both sides."
I've tried doing these several different ways. The source node shows two channels. Everyway I arrange it, both analyzers return data for the left side. Any tips on how to successfully connect a splitter node?

[code]

[2019-04-19 18:19] kdemarest opened #109 "sound.duration() needed"
I am chaining together sounds and visual animations in a game. In order to run an animation "when a sound ends" I need to know the sound's duration.

I'd rather not hard-code that information. Is it possible to say

let someDuration = sound.duration()

PS I'm converting from howlerjs and that code does provide the sound duration, though it is not clear to me how the achieve it.

[2019-04-19 18:32] michaelslevy commented on #109
Hi Ken,

It's in the sound object's source node.
sound.sourceNode.buffer.duration

Michael

[2019-04-21 12:19] christoph-phillips commented on #56
Hey @Catsvilles @dschoon @alemangui,

This became a bit stale due to work commitments but I finally got round to developing a Pizzicato based solution that can export a WAV and uses Pizzicato's events system.

I began by trying to implement this within the Pizzicato repo itself but ran into a lot of errors with web workers and the gulp test suite, so I decided to write a module quickly that can ex

[2019-04-21 13:33] Catsvilles commented on #56
@christoph-phillips Thank you very much for sharing! Looks like it records only while streaming, like with MediaRecorder? Or there is still way just to render it with OfflineAudioContext and get the buffer?

[2019-04-22 11:24] christoph-phillips commented on #56
@Catsvilles The basic workflow is this for offline rendering is this.

1. Replace Pizzicato context with an offline audio content (needs to have the length of the finished output)
2. Construct your audio graph with sounds + effects.
3. Queue the playing of your sounds.
4. Render the buffer.

I will take a look at the code we wrote and see if I can provide a bit more help than this :)

[2019-04-22 11:56] Catsvilles commented on #56
@christoph-phillips Thanks again, you are saving lives here! :)

Spent the last two days trying to achieve this, the thing is I cannot get the original buffer from Pizzicato and then pass it in OfflineAudioContext to use it there with effects and so on. I learned this approach from another library but looks like this is not the case here and I went the wrong way. Overall, I'm not even a programmer

[2019-04-30 09:16] Catsvilles commented on #56
@christoph-phillips Hi, any updates on using Pizzicato with OfflineAudioContext? I cannot make it work, even after one week of multiple approaches and tries :(

[2019-04-30 13:07] christoph-phillips commented on #56
Hey @Catsvilles I have been trying to write a similar module to the pizzicato recorder but have run into a couple of snags due to the many references in Pizzicato to the master gain node during the construction of sounds and effects. It is still a work in progress atm :)

[2019-05-06 22:01] ThorvaldAagaard opened #110 "createBuffer: The operation is not supported"
Testing Pizzicato on my Safari  browser I got an error, so I went to https://alemangui.github.io/pizzicato/
just to verify that the browser version was ok.

But the same error was on you very nice feature page:
![image](https://user-images.githubusercontent.com/10560652/57257915-2107b980-705b-11e9-9823-85d18fbca052.png)

I am using this Safari-version
![image](https://user-images.githubusercontent

[2019-05-13 18:52] Catsvilles commented on #56
@christoph-phillips I got to feel and know these days what you are struggling with. At the moment I managed to connect Pizzicato and use it with different library (tone.js), works good in real time but I'm when trying to use it with Tone.Offline (basically OfflineAudioContext) I also get troubles getting any results from it because of gainNode dependency. Does that mean that we cannot have any suc

[2019-05-14 10:21] FrancoisDupuis opened #111 "Gap between loops"
There is a little gap between loops from file source. Is there a way to remove it ?
I set attack and release to 0 but nothing change.

[2019-05-18 02:25] diegodorado commented on #14
Should this already be resolved? I still hear the clicks when I change an effect parameter.

Chrome Version 72.0.3626.119 (Official Build) (64-bit)
Linux inspirion 4.15.0-45-generic

[2019-05-22 12:17] nbl7 commented on #15
Hi,
Is there any update on this feature?

Thanks

[2019-05-22 16:37] nbl7 opened #112 "Loading time for mp3 with Pizzicato super slow"
Hello there,
thanks for this amazing library.

I am developing a website and I noticed that if I load a Mp3 file with Pizzicato the loading time can be 30 times slower that if I load the same file with HTML normal tag.

Is that a reason why this is happening?
I tried on all browsers and with different files.

Did somebody encounter the same issue?

Thanks
A.

[2019-05-22 17:31] nbl7 opened #113 "Create Sound's Callback does't have a parameter with the sound itself"
Hello again,
I was testing the `Pizzicato.Sound`'s callback and I realise that there is no object passed to the function in order to know which file is loaded.

Is it something to be implemented or am I doing something wrong?
If I try to use `this` variable I get `window`. Is this normal?

Thanks

[2019-05-23 10:21] sebastianwinter commented on #111
I'm having the same issue! When using the same Sample in WAV everything's fine but that's not an option because of file size.

[2019-05-23 10:28] FrancoisDupuis commented on #111
I ve find that with mp3 files, there is a buffer (due to web browser) which cause that gap. No solution finded now. I use ToneJS to do it with same issue but with a hack, i can loop without gap.

[2019-05-30 12:58] dkozar opened #114 "Your Microphone recording demo does not work in Firefox and Safari on Mac"
It works in Chrome but not in Firefox (67.0 (64-bit)) and Safari (Version 12.1).

[code]

There are no console errors. It's just that the microphone sound cannot be heard.

![your-demo](https://user-images.githubusercontent.com/1078403/58634040-28c91f80-82e2-11e9-86ed-18955917d03e.jpg)

Thanks!

Btw thank you so much for the library - it rocks!

[2019-05-30 23:15] dkozar opened #115 "Solution for: "The AudioContext was not allowed to start.""
Most of the time, when starting my application (yes, there is some randomness involved) , I'm getting this message as the 1st line in browser _console_:

![console](https://user-images.githubusercontent.com/1078403/58670003-876bb900-8335-11e9-9f9d-eed5b6d4d2af.jpg)

[code]

Here is the [place in Pizzicato.js](https://github.com/alemangui/pizzicato/blob/master/src/Pizzicato.js#L23) triggering that

[2019-05-31 19:49] dkozar opened #116 "Jest: No success in silencing the "No AudioContext found" console.error"
I'm testing my code with Jest. However I'm not able to mock the AudioContext and silence down `console.error` (https://github.com/alemangui/pizzicato/blob/master/src/Pizzicato.js#L19)

I tried to put a mock into Jests's globalSetup, but no success.

Any thoughts?

![2019-05-31_20-09-40](https://user-images.githubusercontent.com/1078403/58729779-349c0b00-83e2-11e9-8902-a6e72fbfa12b.png)

[2019-07-15 16:08] broofa commented on #107
You'll get this error if you try to use the sound instance before it's finished initializing (in the case of files loaded from URLs, before the HTTP request to fetch the sound file has finished loading).

Pass a callback in the Sound constructor to get notified when the sound is ready.

[2019-07-17 07:04] khawarizmus opened #117 "Error decoding audio file"
I am getting the error `Error decoding audio file` when trying to play an audio file as follows
[code]

any idea how to fix this?

[2019-07-24 08:38] JerryCjr opened #118 "How can i detect volume"
i need to detect the change of volume with decibels

[2019-08-12 11:43] nascent opened #119 "Check if all files have loaded"
Hi,

I've been using this library for some time and am getting good results but I'd like to create some code that will execute in certain situations, e.g. "this.getRawSourceNode is not a function", i.e. when all files haven't been loaded and Play or Stop is executed.

Specifically, as per the following:

https://github.com/alemangui/pizzicato/issues/60

and for reference:

`var click = new Pizzica

[2019-08-20 23:18] listentotherainbow opened #120 "Setting up recording on an iphone"
I am using

[code]
with the intention of recording the sound, but getting the following error:

undefined is not an object (evaluating 'navigator.mediaDevices.getUserMedia')

based on this article

https://stackoverflow.com/questions/53483975/navigator-mediadevices-getusermedia-not-working-on-ios-12-safari

it is probably not possible, but the article suggest a way.

First step could be to just ch

[2019-09-25 19:53] shiyasvp92 opened #121 "TypeError: this.getRawSourceNode is not a function when play song"
`const song = new Pizzicato.Sound({
            source: 'file',
            options: {
                path: '/assets/sounds/silent-countdown.mp3'
            }
        })

song.play()`

this is my code. but when play() is called, am getting the error
Uncaught (in promise) TypeError: this.getRawSourceNode is not a function

[2019-12-07 18:18] Ben-Donnelly opened #123 "Change volume while sound playing"
Is it possible to change the volume of a loaded sound file while it is playing? it is done on every example on the example page For example:
var lowPassFilter = new Pizzicato.Effects.LowPassFilter({
    frequency: 400,
    peak: 10
});

sound.addEffect(lowPassFilter);
sound.play();

(https://alemangui.github.io/pizzicato/#low-pass-filter)

but there does not seem to be any code to change the volum

[2020-01-04 23:28] ProgrammingLife opened #124 "How to download mixed audio file?"
How to download ready audio file with all those effects?

[2020-01-04 23:36] ProgrammingLife opened #125 "Is it possible to set offset for playing some sound in a group?"
For example we have:
[code]
I want to play long-background-music.wav which is about 1minute long and I want to play "some-short-sound" starting from 32th second. How do I do it?

[2020-01-12 06:20] kitchWWW opened #126 "Ability to stop looping at the end of a file"
_**feature request**_
Howdy! I have a 3 second sound clip and I would like the user to be able to listen to it play a couple of times, then hit a button to have it stop. Ideally, I would like it to finish the current loop before coming to a stop.
I'd be able to do something like this:
[code]
Do you have any suggestions on how I might be able to do this with the current code base?
(Also, thanks so

[2020-01-16 08:06] Krogoh opened #127 "Slowness problem"
Hello,

I use Pizzicato to load 20 sound tracks, apply a reverb effect to them, then group them.
The result is ok, but the execution of the script takes between 5 and 18 seconds.
However, my sound tracks only last one minute each.
I have done many timed tests (on Firefox and Chrome latest versions) and I am amazed that a simple "Reverb" (new Pizzicato.Effects.Reverb()) takes more than a second and

[2020-01-29 21:30] atelic commented on #123
Did you ever figure this out? I'm having the same problem. I'd like to modify filter frequency and volume etc while the sound is playing. I've looked at the source of the demo site but can't make sense of it.

[2020-01-30 17:51] Ben-Donnelly commented on #123
Unfortunately not, The only way I can think of doing it is to have an event listener linked up to the slider (assuming you are using a slider) **while** the music is playing. and have it fire when its set, however I spent about 2 hours on this and gave up, it was only a small part of a larger project. Good luck, if you do manage to get it let me know out of interest.

[2020-01-30 19:57] atelic commented on #123
@Ben-Donnelly Okay, I was able to figure out volume, attack, and release. Still working on things like filter freq and distortion gain. I'm using react but it looks like this:

[code]
`onChange` is just a function called when the `'change'` event is fired on the slider input.  Keeping a reference to the sound on the object and updating it this way seems to work for things on the sound but not any

[2020-02-01 10:30] Catsvilles commented on #124
Use [OfflineAudioContext](https://developer.mozilla.org/en-US/docs/Web/API/OfflineAudioContext)

Let me know if you need more details!

[2020-02-01 10:32] Catsvilles commented on #127
Maybe try using OfflineAudioContext, render all your sounds with reverb behind the scenes and then serve ready audio file?

[2020-02-01 10:54] Catsvilles commented on #125
From documentation:

Play (example)
You can play a sound by calling it's play function. It takes two optional parameters:

when (number, defaults to 0): Time in seconds to wait before playing the sound.
offset (number, defaults to 0): Time in seconds where the sound will start.
For example, the following code will wait two seconds, then play a sound starting from position 00:04:

sound.play(2, 4);

[2020-03-19 21:21] Olliebrown opened #128 "Fancier events? (one time events and individualized off)"
Just a feature suggestion.  It would be nice to be able to specify an event callback to fire only once (pretty typical pattern in JS event programming).  Would usually look like this:

- function `once()` with same signature as `on()`
- Callbacks added with `once()` remove themselves after they are triggered

Another nice feature would be if 'off()' could remove a more specific callback.  Right no

[2020-03-22 10:16] alemangui commented on #128
Hi @Olliebrown,

Thanks for the suggestion. I think the ```once``` would be a good idea if it works like Jquery's [one](https://api.jquery.com/one/) method.

As for the symbol we could pass on to `off`, just to make sure we are on the same page, it would be similar to the ```selector``` argument on Jquery's ```off(events [, selector ] )``` correct?

[2020-03-22 10:19] alemangui commented on #96
Hi @Girlsmile

Pizzicato uses the webaudio API, which is present in the browser but not in a NodeJS backend.

There are some projects that attempt to implement the web audio API in Node (like https://github.com/audiojs/web-audio-api). I haven't tried them myself but that could be a solution.

[2020-03-22 10:19] #96 closed

[2020-03-22 10:24] alemangui commented on #101
Hi @nascent ,

An option would be to create a Pizzicato Effect with the implementation of the parametric equaliser you already made. Effects are in the [effects folder under src](https://github.com/alemangui/pizzicato/tree/master/src/Effects) and they define their own routing graph and the nodes they connect to.

If this is something you'd like to attempt I can guide you through an eventual PR.

[2020-03-22 10:26] alemangui commented on #75
Hey, I'm going to close this one for now but feel free to reopen it if you could make a PR for the new effect. Cheers,

[2020-03-22 10:26] #75 closed

[2020-03-22 11:14] alemangui opened #129 "Update Gulp to > 4"
Gulp 4 should be used since Gulp 3 is [no longer supported](https://github.com/gulpjs/gulp/issues/2324) and may present incompatibilities with older node version.

[2020-03-22 11:21] alemangui opened #130 "Change default local testing browser to Firefox"
When running `npm run test` locally Firefox should be launched as opposed to Chrome. Note this will be changeable in the karma config file

[2020-03-22 11:23] alemangui opened #131 "Use more recent Node version in travis CI"
Current Node version used for Travis CI is Node 7. We should be using node 12.

[2020-03-22 11:27] alemangui commented on #116
Hi @dkozar,

Hard to know specifically without more info of your use case. However, there are some projects that mock the web audio api in a Node JS environment, maybe that would help? (for example this one: https://github.com/audiojs/web-audio-api)

[2020-03-22 15:17] alemangui opened #132 "Broken build in Travis CI"
This is caused by Chrome's autoplay policy. The flag `--autoplay-policy=no-user-gesture-required` should be added to avoid the problem.

[2020-03-22 15:29] #132 closed

[2020-03-22 15:29] #131 closed

[2020-03-22 15:29] #130 closed

[2020-03-22 15:29] #129 closed

[2020-03-22 15:31] alemangui opened #133 "Unhelpful message when page loaded insecurely"
`navigator.mediaDevices` is not available when a site is loaded insecurely. The current error displayed in the console is unhelpful.

[2020-03-22 15:32] #133 closed

[2020-03-22 15:35] Olliebrown commented on #128
Absolutely!  The jQuery approach would be a nice way to do it.  Thanks!

For others that may wind up here, I worked around this for now with the following very hackish code.  This assumes that no other 'end' callbacks are getting added anywhere else so I can be sure it is always the 'last' event in the list:
[code]

[2020-03-22 18:16] mgw-sbic commented on #75
Hi Alejandro,

We are looking to mix up to 40 channels of live-streamed audio. Can
Pizzicato mix live-streamed audio?

On Sun, Mar 22, 2020 at 3:26 AM Alejandro M Guillén <
notifications@github.com> wrote:

--
<https://meetings.hubspot.com/michael-glenn-williams> Michael Williams

CEO | CTO

Smart Blonde Experiential
8054991994
michael.glenn.williams@smartblondeco.com
totalvu.tv
13900 Marquesas Wa

[2020-03-22 19:09] alemangui commented on #75
Hi @mgw-sbic,

It would be better to open a new issue for this one, maybe someone else in the community has experience on the matter and having a dedicated issue will give this more visibility.

[2020-03-22 19:28] mgw-sbic opened #134 "Mix live streamed audio"
Hi Pizzicato team,

We'd like to find a way to mix real time live audio feeds that are arriving via streaming. Is there a way to associate mixer inputs with live streams somehow?

[2020-03-30 11:46] rouk1 commented on #111
Same issue with _aac_ and _wav_.
Did someone find a workaround ?

[2020-03-31 15:38] davidstellini commented on #121
To anyone else having this issue, use this:

[code]

[2020-04-10 18:29] yishengjiang99 commented on #126
sure

[2020-04-18 17:05] rmallick6806 commented on #124
@Catsvilles Can you please provide some sample code? Would love to know more about how to get a single audio file from a Pizzicato group. Thanks!

[2020-04-18 17:30] rmallick6806 opened #136 "Download Pizzicato.Group track"
Would love to know if there is a way to download a Pizzicato.Group track w/ everything put into one track? Been struggling to figure out a way with OfflineAudioContext.

Thanks!

[2020-04-19 15:10] Catsvilles commented on #124
@rmallick6806 Hi, untested code example just from my head:

  const offlineContext = new OfflineAudioContext(
      2,
      44100 * durationInSeconds,
      44100
    );
//Setting the Pizzicato context to offlineContext
    Pizzicato.context = offlineContext;
//You can use those for connecting/routing your sounds, effects, depending on your needs
    const gainNode = Pizzicato.context.createGain(

[2020-04-20 00:54] rmallick6806 commented on #124
@Catsvilles Thanks for taking the time to write that up. I have tried to use to that code but I was unable to make anything happen. I connected the renderedBuffer to the NPM module `audiobuffer-to-wav`. It resulted in me downloading something that had a duration of `durationInSeconds` with complete silence. Any idea how to actually get the sound?

[2020-04-20 07:07] Catsvilles commented on #124
It's clear that initially Pizzicato wasn't create with OfflineContext in mind. As I said, there is a problem with loaded files, thus I'm using this hardcoded sleep() function, if you get silence, most likely you did not connect to context's destination. Also, note that every sound must be detached from previous destination (see options)! I did not manage to make `groups` work but you can achieve s

[2020-05-01 12:06] stramanu opened #137 "Incompatible with other js audio libs..."
The shim makes the library incompatible with other audio libraries ...
Another way would be needed to solve this need.

[code]

[2020-05-03 00:42] stramanu commented on #137
Fixed in this pull request: [https://github.com/alemangui/pizzicato/pull/135](url)
#135

[2020-05-11 03:06] jmurowaniecki opened #138 "Angular2+ compatibility"
The class 'SoundService' cannot be created via dependency injection, as it does not have an Angular decorator. This will result in an error at runtime.

Either add the @Injectable() decorator to 'SoundService', or configure a different provider (such as a provider with 'useFactory').

---

I'm using `Pizzicato || window['Pizzicato'] || ...` in order to work around the problem, including the module

[2020-05-27 13:12] AurelienConil opened #139 "Recording microphone to a new playable sound"
Thank you first for this amazing library.

It seems that the only way of using the microphone is streaming the input to the output.
Is there a way to record the microphone and play it the same way than an audio file ?
It would be amazing.

Thanks

[2020-06-25 13:49] Mr-Ahmadi opened #140 "sound.currentTime Needed"
Thank you for your cool library.

Is there any way for getting the `currentTime` of sound and change it?

Something like `audio.currentTime = 5;`?

[2020-07-11 11:06] danshuri commented on #111
I think it is due to compression. When compressed, there's a short fadeIn/fadeOut by default on an mp3 file. That's why they use instead .ogg or .wav in videogames to loop over short slices of samples.

[2020-07-27 12:16] melchior-by opened #141 "Bypass audio to microphone input"
Please, let me know is there a way to send audio to microphone input ?

[2020-08-03 14:12] kyoukhana opened #142 "Confirm file loadd"
I know how to do a group but how can i show the percent loaded when adding files to the group to confirm the file is loaded then I can play the group

[code]

[2020-08-03 20:30] kyoukhana commented on #142
I tried something like this

[code]

But I get  a error

[code]

[2020-08-03 22:30] kyoukhana commented on #142
So I got it working but loop doesn't seem to work

[code]

[2020-08-04 01:25] kyoukhana commented on #142
I got the loop working now

[code]

[2020-08-04 01:25] #142 closed

[2020-08-04 19:07] doncabreraphone opened #143 "Compiling mixed sounds into a WAV"
Hello,

I just went through the documentation and the examples (very well written! THANKS!) and I couldn't find a way to compile mixed sounds into a .wav to be sent to a server. Is there a simple way to do that? I'm trying to have a background track mixed with a mic input -> save to .wav on the server.

Can't figure out how to do it with Pizzicato.

[2020-08-11 15:08] aranfatih commented on #56
Hi, any update on this issue, yet?

[2020-08-16 08:05] nascent commented on #140
I believe you can start the sound from a certain point, but I don't believe you can have something like an interactive song position that is changeable at any time, typical with modern video and audio players on the web.

Of course anything is better than nothing.

[2020-08-17 22:00] kyoukhana opened #144 "Showing Progress precent when loading a file"
Is it possible to show percent loaded when loading a file to a grope like this

[code]

Then a play button will be enabled to play once the file is 100% loaded

[2020-08-19 08:46] Mr-Ahmadi commented on #140
@nascent ow can we do that?

[2020-08-27 15:42] kyoukhana commented on #140
Yea we need this.  But even better would be awesome to get the current play back time for each individual sound object within a group object

[2020-08-27 15:45] Mr-Ahmadi commented on #140
might be possible with a little mathematics...

[2020-09-18 07:15] Catsvilles commented on #143
@doncabreraphone Hi, use OfflineAudioContext

I posted examples in this issue https://github.com/alemangui/pizzicato/issues/124

[2020-10-22 23:00] jlyman opened #146 "Safari has issues with frequency get/set"
I've hit an issue where I can't change the frequency of a `Sound` after creating it in Safari. Works just fine in other browsers that I've tested so far (FF 79+ and Chrome 84+) but Safari v14 the following would result in `null` or no change in the sound:

[code]

I've created a fiddle to compare it amongst the different browsers: https://jsfiddle.net/7fgs8d0h/

As I've been writing this up it occ

[2020-10-24 17:53] jlyman commented on #146
Additional information: from testing on a few different devices, it looks like this may be due to a more recent change to Safari. The macOS Safari v14 and the mobile Safari on iOS 14.0.1 both exhibit this issue, but on an older iPad I have with iOS 12.4.8 doesn't have any issue with this. I'm going to look into the release notes to see if I can spot anything.

[2020-10-24 18:12] jlyman commented on #146
Ah okay, I believe I've found the issue. Looks like the name of the OscillatorNode in WebKit has been moved to a prefixed version, `WebKitOscillatorNode`. [The issue for it notes the following](https://bugs.webkit.org/show_bug.cgi?id=214902):

Now I'm not too familiar with the internals of the Web Audio API (okay, not familiar at all!) but [in the Utils method that checks if something is an oscill

[2020-10-26 18:43] sorcerykid commented on #134
I am wondering this too. I setup a SHOUTcast server and tried to play the live audio feed via Pizzicato, and it doesn't seem to work no which method I try. Given how old this issue is, it looks like the developers have no plans to support streaming audio.

**Attempt 1**
[code]

**Attempt 2**
[code]

[2020-10-26 18:49] mgw-sbic commented on #134
Yes they said it would take a major revision. It would be so awesome though!

On Mon, Oct 26, 2020 at 11:43 AM sorcerykid <notifications@github.com>
wrote:

[2020-10-28 14:30] sorcerykid commented on #134
I successfully managed to work around the issue by creating my own AudioContext and applying effects manually, therefore obviating the need for Pizzicato or any third-party JS library completely.

Here's some boilerplate code I developed that has been tested with a live SHOUTcast server. It chains several different audio nodes including Convolver, StereoPanner, BiQuadFilter, and Gain, and it provi

[2020-12-12 20:56] AnasProgrammer2 opened #148 "export group sound as one audio file"
hello , any idea how to make recorded or export a group with effect and save it as audio file(mp3 or wav) ?

[2020-12-26 23:08] ItzKevin01 commented on #123
how can i change the effect while playing?

[2020-12-27 12:51] ItzKevin01 opened #149 "when called a new song volume is getting way harder and destorted"
who can help

[2020-12-27 13:09] ItzKevin01 commented on #149
audioPlayer = new Pizzicato.Sound("./songs/"+e.data.songname);
console.log("started timeout");
myVar = setTimeout(alertFunc, 3000);
function alertFunc() {
    audioPlayer.volume = 0.0;
    lowPassFilter.peak = 0;
  audioPlayer.addEffect(reverb);
  audioPlayer.addEffect(lowPassFilter);

    audioPlayer.play();
   console.log("started music");
}

[2021-01-11 21:42] lu-sacramento commented on #117
Estava com problemas iguais e resolvi assim:

Experimente colocar os arquivos de áudio na pasta onde será servido e aponte por caminho absoluto as variáveis para http.
exemplo:

[code]

[2021-01-19 20:03] franck34 opened #150 "Pizzicato and AudioMotion"
Hi !

I've created a ticket audioMotion side, looking to connect Pizzicato with it. Any help is welcome, thank you !

https://github.com/hvianna/audioMotion-analyzer/issues/10

[2021-01-19 22:43] franck34 commented on #150
Nice shot !

[2021-01-19 22:43] #150 closed

[2021-02-08 16:37] grommas commented on #149
It would be easier to help with a provided Codepen, so I’m not sure about your setup. But try to group your sounds and add the effects to the group instead of applying them to the sounds directly. instead of turning down the volume to zero, you could probably pause them while inactive. I detected the distortion on sounds e.g. when adding multiple groups to one effect. Besides of that the peak of y

[2021-03-19 22:15] pr1ntr opened #151 "[Question] Integrate with beet.js"
I am looking to use beet.js for a musical project. But I like the effects pizzicato and am wondering if its possible to use pizzicato with an audiocontext that is being used by beet,js. Something like beet.js -> pizzicato.js. Thanks.

[2021-04-10 17:47] Benoit1980 opened #152 "Unable to play sounds one after the other"
Hello,

I need to be able to play tiny wav files one after the other(with BPM sync).
At the moment I  coded;

[code]

My first problem is that all the files are playing like on a sprite(all at once). How to have them playing sequentially and only once please?

It looks like the library does not have a BPM function, am I correct? ie: Play the give files on a beat at 125BPM,135BPM and so on.

Thank

[2021-04-15 00:23] offsetX opened #153 "orientation function?"
do we have a orientation and coords setter for spatial audio?

[2021-04-26 04:16] santoshwebg123 commented on #124
Hi @Catsvilles Can you give me full sample code.  I do not want to recode with recorder library. I am using pizzicato to manipulate sound, after manipulate the sound effect, I just want to download whole pizzicato object or audio context. I am searching for this from last 40 days but can not get success in it. Below is my code.

[code]

[2021-06-03 06:49] Catsvilles commented on #151
@pr1ntr Should be possible. As I can see from beet.js examples you have to create a new context anyway.

`var context = new AudioContext();
var beet = new Beet({
  context: context
});`
Just set
`Pizzicato.context = context`

And then you can use them together with one shared context :)

[2021-06-03 06:50] Catsvilles commented on #148
@AnasProgrammer2 Just use OfflineAudioContext, there are tons of examples here in the issues, search for it :)

[2021-06-24 15:40] KipandaJr commented on #121
how do I `stop` the sound when I press a button
@davidstellini
@shiyasvp92
please help me it's urgent

[2021-08-14 15:56] yesharsha commented on #15
Hello, just wanted to check if there's been any update on this feature, thank a lot!

[2021-08-18 19:24] xepozz commented on #121
I have the same problem

[2021-08-31 14:12] Catsvilles commented on #105
@Durss This is already possible, I've posted already a few examples of how to use Pizzicato with OfflineContext here in issues

#124

[2021-08-31 14:12] #105 closed

[2021-09-07 00:53] AdamBrodzinski commented on #121
@xepozz for me this happened when the audio file was not fully loaded. waiting for it to load did the trick.

[2021-10-08 23:23] flappix opened #155 "Multiple sine waves sound distorted"
Hi,
thanks for providing this library, it's pretty nice.

I'm just facing the problem that multiple sine wave generators are sounding very distorted when played together while playing them once at time sound good.

[code]

This is an A major chord and should sound very harmonic but the sound I get is very disgusting.

Any help would be appreciated, thanks.

[2021-10-15 14:27] hajkli opened #156 "How to get "length" of sound from file"
Hi,

can you please help me figure out how to get the length or duration of the playing sound ?

Thank you

[2021-10-15 14:32] #156 closed, assigned to nobody

[2021-10-22 18:11] garrill opened #157 "Error decoding audio file in Safari"
It looks like loading in audio files in Safari version 15.0 is broken (I am using MacOS 10.15.7). The Pizzicato home page gives errors for each MP3 file it is unable to load:

[code]

and finally

18 × `Unhandled Promise Rejection: EncodingError: Decoding failed`

The sound wave and microphone demos still work, just any demo using an external audio file is broken

<img width="709" alt="Screenshot

[2021-11-21 01:36] hdwmp123 opened #158 "The AudioContext was not allowed to start. It must be resumed (or created) after a user gesture on"
The AudioContext was not allowed to start. It must be resumed (or created) after a user gesture on

[2021-11-21 03:00] hdwmp123 commented on #121
I have the same problem

[2021-11-21 03:01] hdwmp123 commented on #121
good job, it work

[2021-12-10 14:56] Catsvilles opened #159 "PingPongDelay can only be heard in the left channel."
The delay line overloads left channel, same behaviour in demos. Is this intended or there is a work around? Thank you!

[2022-01-11 21:06] divineuniverse commented on #81
Hi ,

i am new to pizzicato.js ,
and i am using laptop , chrome browser ,
may i know , for file , such as ( `./sound.wav` ) ,
do i need to change any path config on .js files and/or any setting in the browser , so that to start to play a sound , ?!
( now i cannot hear any ) ,

THANKS for any replies and help , !! , : )

[2022-01-15 04:08] divineuniverse opened #161 "how to make sound from a file ,"
Hi ,

i am new to prizzicato.js , and now i am learning about it ,
but i found that i cannot load up any sound from a file ,
( i am using laptop with chrome browser ) ,

`var tSnd = new Pizzicato.Sound( './audio/sound.wav' );
tSnd.play();`

may i know do i need to do sth in the setting or config or others ,
really many thanks for this help and reply ,

thanks ALL , : )

[2022-02-08 20:18] claydegruchy commented on #121
This issue can still occur, even with the suggested fix. Wouldn't it make more sense to pass the sound instance as an arg of the function? Then the reference can always be valid and current.

[2022-04-08 20:31] SoftwareBuilding commented on #123
I have figured out what is going on and type of issue is. You have to work with numbers float etc.... and then pass it over

[2022-05-11 15:30] pascalwengerter commented on #161
@divineuniverse I've stumbled upon the same issue today. The key is serving your files over HTTP (e.g. by running a super simple Go server like https://gist.github.com/paulmach/7271283), because the relative links from your HTML/JS resolve to using `file://` URLs that then cause CORS issues

[2022-06-03 04:39] SrFortes commented on #115
Is there any solution for mobile?

[2022-06-14 15:30] presstube opened #167 "Instantiate a Pizzicato.Sound with an already loaded file object?"
Can I instantiate a Pizzicato.Sound by giving it an already loaded sound file?

For instance, imagine either of the following scenarios:
- Load a ZIP into app which contains some WAV files
- Drag and drop a WAV into browser

In each of those cases I am left with a 'files' array containing fully loaded sound files.

How can I pass one of these fully loaded sound files into the Pizzicato.Sound const

[2022-07-04 23:20] rtwalz opened #169 "How to change the playback rate while preserving the pitch"
I spent a few hours trying to figure out how to change the playback rate *while* preserving the pitch, and apply a filter from Pizzicato. The catch is that you have to create the AudioNode elsewhere, like in an `<audio>` tag in the DOM, not using Pizzicato.Sound constructor (maybe it's possible with the constructor but I couldn't figure it out).

I assume other people want to know how to do this,

[2022-07-04 23:20] #169 closed

[2022-07-20 15:57] MuhammadUsmanMithani opened #170 "Noise cancellation"
Add a negative sound wave generator, e.g. when playing back sound from mic, it inverts it to cancel surrounding noise.
Also maybe optimize it a little to not be as delayed as it is normally

[2022-08-01 18:39] eetsceeck1 opened #171 "connect to an audio element"
Hi there,

there is a way to connect pizzicato to an existing html audio element as i did with tuna.js?

please check my conclusion how to connect an effect to an audio element with 4 other elements nodes connected to the same audio context on here: at the very bottom of the thread
instead i will explain here everything is there, what i am trying to do, how my script is looks like and all,
https:/

[2022-08-01 18:44] eetsceeck1 commented on #171
here it is how i connect tuna in my case, thanks!

[code]

[code]

[2022-09-07 02:00] igutzzz opened #172 "x.Sound is not a constructor"
I'm trying to use pizzicato with next.js, and everytime i try to run, the following error is shown:

`pizzicato__WEBPACK_IMPORTED_MODULE_1___default(...).Sound is not a constructor`

[2022-10-11 05:19] JanVeb opened #173 "Piano samples sound as Harmonika"
Hi there, reply interesting library, using Howler at the moment and decided to try Pizzicato because of reverb function.

I was sucesfull in making Pizzicato playing midi file with piano samples, which in Howler sound normal, but in Pizzicato they sound as though its harmonica playing. How can I control this>

Also when adding reverb effect, sound gets really deformed and it stoped playing altoget